<div class = "row">
  <div class="col-sm-12 col-md-12 col-lg-12 caseCreationStepsWizard">
    <div class = "processRow">
      <div class = "connectingRow"></div>
      <ul>
        <li class = "wizardSteps" [ngClass]="{'active': currentStep == 1}">
          <span class = "wizardStepDot" (click)="switchWizardStep(1)">
            1
          </span>
          <p>Select Template</p>
        </li>
        <li class = "wizardSteps" [ngClass]="{'active': currentStep == 2}">
            <span class = "wizardStepDot" (click)="switchWizardStep(2)">
              2
            </span>
            <p>Provide Details</p>
          </li>
          <li class = "wizardSteps" [ngClass]="{'active': currentStep == 3}">
              <span class = "wizardStepDot" (click)="switchWizardStep(3)">
                3
              </span>
              <p>Assemble Team</p>
            </li>
            <li class = "wizardSteps" [ngClass]="{'active': currentStep == 4}">
                <span class = "wizardStepDot" (click)="switchWizardStep(4)"> 
                  4
                </span>
                <p>Initiate Case</p>
              </li>
      </ul>
    </div>
    <div class = "exitCaseCreationControl" (click)="gotoDashboard()">
        <ul>
            <li>
              <span><i>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>x_in_circle_icon</title><g id="art"><path d="M25.12867,5.2005a13.99983,13.99983,0,1,0,0,19.79851A13.99826,13.99826,0,0,0,25.12867,5.2005ZM20.72139,22.4996a2.1358,2.1358,0,0,1-1.52051-.62946l-3.85059-3.85055-3.85107,3.85049a2.14983,2.14983,0,0,1-3.04-3.04059l3.85034-3.85107L8.45918,11.12786a2.14969,2.14969,0,1,1,3.04-3.04019l3.85107,3.8505,3.85108-3.85044a2.14971,2.14971,0,0,1,3.04016,3.04013l-3.8512,3.85056,3.8512,3.851a2.1498,2.1498,0,0,1-1.52014,3.67014Z"/></g></svg>
              </i></span>
            </li>
            <li>
              Exit
            </li>
          </ul>
    </div>
  </div>
</div>
<div class = "row caseCreationBody">
  <!-- Step 1 Starts -->
  <div class = "col-sm-12 col-md-12 col-lg-12 caseCreationStep1Container" *ngIf="currentStep==1" >
    <div class = "col-sm-12 col-md-12 col-lg-12">
      <h6>Select a Template Type</h6>
    </div>
    <div class = "col-sm-12 col-md-12 col-lg-12">
      <p>You can select a pre-formatted template for your<br>
      industry or you can create a custom template:</p>
    </div>
    <div class = "col-sm-12 col-md-12 col-lg-12">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Medical
          <span class = "dropdownArrows">
              <i class="material-icons">expand_less</i>
              <i class="material-icons">expand_more</i>
          </span>
          
        </button>   
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
          <button class="dropdown-item" type="button">
            <span>Human Resources</span>
            </button>
          <button class="dropdown-item" type="button"><span>Grievance</span></button>
          <button class="dropdown-item" type="button"><span>Finance</span></button>
          <button class="dropdown-item" type="button"><span>Legal</span></button>
          <button class="dropdown-item" type="button"><span>BID</span></button>
          <button class="dropdown-item" type="button"><span>High Value Proposal</span></button>
          <button class="dropdown-item" type="button"><span>My Custom Template</span></button>
        </div>
      </div>
    </div>
    <div class = "col-sm-12 col-md-12 col-lg-12">
      <div class = "templateIcon">
          <span><i class="material-icons">add</i></span>
          <div class = "col-sm-12 col-md-12 col-lg-12 templateDescription">
            <h6>Medical</h6>
            <p>Provide short template description here</p>
          </div>
      </div>
    </div>
  </div>
<!-- Step 1 Ends -->

<!-- Step 2 Starts-->
  <div class = "col-sm-12 col-md-12 col-lg-12 caseCreationStep2Container" *ngIf="currentStep==2" >
      <div class = "col-sm-12 col-md-12 col-lg-12">
        <h6>Provide Details</h6>
        <button class = "saveDraftBtn">Save Draft</button>
      </div>
      <div class = "col-sm-12 col-md-12 col-lg-12 formContainer">
          <form>
              <div class="form-row">
                <div class="form-group col-md-6">
                  <label class="col-form-label">Case Name</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group col-md-6">
                  <label class="col-form-label">Case Due Date</label>
                  <input type="text" class="form-control">
                  <span class="input-group-addon" id="basic-addon2">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>calendar_icon@1x</title><g id="art"><path d="M21,26H8a4.00455,4.00455,0,0,1-4-4V8A4.00455,4.00455,0,0,1,8,4H21a4.00455,4.00455,0,0,1,4,4V22A4.00455,4.00455,0,0,1,21,26ZM8,6A2.00228,2.00228,0,0,0,6,8V22a2.00228,2.00228,0,0,0,2,2H21a2.00228,2.00228,0,0,0,2-2V8a2.00228,2.00228,0,0,0-2-2Zm12,7H9a1,1,0,0,1-1-1V9A1,1,0,0,1,9,8H20a1,1,0,0,1,1,1v3A1,1,0,0,1,20,13ZM10,11h9V10H10Zm1,4H8v2h3Zm5,0H13v2h3Zm5,0H18v2h3ZM11,19H8v2h3Zm5,0H13v2h3Zm5,0H18v2h3Z"/></g></svg>                     
                  </span>
                </div>
              </div>
              <div class="form-row">
                <div class="form-group col-md-12">
                  <label class="col-form-label">Describe Case Goals</label>
                  <textarea class="form-control" rows="3" placeholder = "What do you want to acomplish?"></textarea>
                </div>
              </div>
              <div class="form-row">
                  <div class="form-group col-md-12">
                      <label class="col-form-label">Case Tags - Press Enter to Add </label>
                     <i id = "helpIcon">
                        <svg xmlns="http://www.w3.org/2000/svg" class = "helpIcon" viewBox="0 0 30 30" style="fill: #c3d4e3;"><title>help_icon@1x</title><g id="art"><path d="M14.93177.8a14,14,0,1,0,14,14A14.00007,14.00007,0,0,0,14.93177.8ZM15.08,26.28a3.3831,3.3831,0,0,1-3.12-3.32,3.16427,3.16427,0,0,1,6.32,0A3.45462,3.45462,0,0,1,15.08,26.28Zm4.3907-11.19012s-1.80471.99409-1.92478,2.19483L17.45641,19H12.97336l.0625-2.608c0-1.36218,1.26788-2.709,2.81881-3.4845s1.78023-1.64744,1.78023-2.13618c0-1.25136-.515-2.14191-2.75-2.14191-2.25452,0-3.92788,2.46187-3.92788,2.46187L8.353,7.2554l.43716-.38864a9.34414,9.34414,0,0,1,6.63418-2.70729c4.56893,0,7.15775,3.23,7.15775,6.02075A5.79127,5.79127,0,0,1,19.4707,15.08988Z"/></g></svg>                        
                      <div class = "hoverHelpBox">
                          Use tags to identify and categorize your cases. Search queries utilize tags for relevance.
                          <!-- <i class="material-icons carret">arrow_drop_down</i> -->
                        </div>
                    </i>
                      <input type="text" class="form-control">
                      <span class = "tagChip">Example Tag
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>x_delete_icon@1x</title><g id="art"><path d="M19.8656,14.99916l8.12642-8.126A3.4402,3.4402,0,0,0,23.12684,2.008L15,10.134,6.87316,2.008A3.4402,3.4402,0,0,0,2.008,6.87316l8.12642,8.126L2.008,23.12684A3.4402,3.4402,0,1,0,6.87316,27.992L15,19.866l8.12684,8.126A3.4402,3.4402,0,0,0,27.992,23.12684Z"/></g></svg>
                      </span>
                  </div>
                </div>
            </form>
      </div>
  </div>
<!-- Step 2 Ends -->

<!-- Step3 Starts -->
  <div class = "col-sm-12 col-md-12 col-lg-12 caseCreationStep3Container" *ngIf="currentStep==3" >
      <div class = "col-sm-12 col-md-12 col-lg-12">
        <h6>Assemble Team</h6>
        <button class = "saveDraftBtn">Save Draft</button>
      </div>
      <div class = "col-sm-12 col-md-12 col-lg-12 formContainer">
          <form>
              <div class="form-row">
                <div class="form-group teamMemberNameInputDiv">
                  <label class="col-form-label">Team Member Name</label>
                  <input type="text" class="form-control">
                </div>
                <div class="form-group teamMemberEmailInputDiv">
                  <label class="col-form-label">Email Address</label>
                  <input type="email" class="form-control">
                </div>
                <div class = "addTeamMemberControl">
                    <button><i class="material-icons">add</i></button>
                </div>
                
              </div>
              
            </form>
      </div>

      <div class = "col-sm-12 col-md-12 col-lg-12 caseMembersContainer">
        
        <div class = "col-sm-12 col-md-12 col-lg-12 caseMembersBody">
          <label>Case Members</label>
          <div class = "col-sm-12 col-md-12 col-lg-12 caseMembersRow borderTop">
            <ul>
              <li>Himanshu Kumar</li>
              <li>himanshu.kumar@newgen.co.in</li>
              <li>Added to Team</li>
              <li>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>x_in_circle_icon</title><g id="art"><path d="M25.12867,5.2005a13.99983,13.99983,0,1,0,0,19.79851A13.99826,13.99826,0,0,0,25.12867,5.2005ZM20.72139,22.4996a2.1358,2.1358,0,0,1-1.52051-.62946l-3.85059-3.85055-3.85107,3.85049a2.14983,2.14983,0,0,1-3.04-3.04059l3.85034-3.85107L8.45918,11.12786a2.14969,2.14969,0,1,1,3.04-3.04019l3.85107,3.8505,3.85108-3.85044a2.14971,2.14971,0,0,1,3.04016,3.04013l-3.8512,3.85056,3.8512,3.851a2.1498,2.1498,0,0,1-1.52014,3.67014Z"/></g></svg>
              </li>
            </ul>
          </div>
          <div class = "col-sm-12 col-md-12 col-lg-12 caseMembersRow"> 
            <ul>
              <li>Shweta Bajad</li>
              <li>shweta.b@newgen.co.in</li>
              <li>Added to Team</li>
              <li>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>x_in_circle_icon</title><g id="art"><path d="M25.12867,5.2005a13.99983,13.99983,0,1,0,0,19.79851A13.99826,13.99826,0,0,0,25.12867,5.2005ZM20.72139,22.4996a2.1358,2.1358,0,0,1-1.52051-.62946l-3.85059-3.85055-3.85107,3.85049a2.14983,2.14983,0,0,1-3.04-3.04059l3.85034-3.85107L8.45918,11.12786a2.14969,2.14969,0,1,1,3.04-3.04019l3.85107,3.8505,3.85108-3.85044a2.14971,2.14971,0,0,1,3.04016,3.04013l-3.8512,3.85056,3.8512,3.851a2.1498,2.1498,0,0,1-1.52014,3.67014Z"/></g></svg>
              </li>
            </ul>
          </div>
          <div class = "col-sm-12 col-md-12 col-lg-12 caseMembersRow">
            <ul>
              <li>Pavneet Bhutani</li>
              <li>pavneet.bhutani@newgen.co.in</li>
              <li>Added to Team</li>
              <li>
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>x_in_circle_icon</title><g id="art"><path d="M25.12867,5.2005a13.99983,13.99983,0,1,0,0,19.79851A13.99826,13.99826,0,0,0,25.12867,5.2005ZM20.72139,22.4996a2.1358,2.1358,0,0,1-1.52051-.62946l-3.85059-3.85055-3.85107,3.85049a2.14983,2.14983,0,0,1-3.04-3.04059l3.85034-3.85107L8.45918,11.12786a2.14969,2.14969,0,1,1,3.04-3.04019l3.85107,3.8505,3.85108-3.85044a2.14971,2.14971,0,0,1,3.04016,3.04013l-3.8512,3.85056,3.8512,3.851a2.1498,2.1498,0,0,1-1.52014,3.67014Z"/></g></svg>
              </li>
            </ul>
          </div>
          <div class = "col-sm-12 col-md-12 col-lg-12 caseMembersRow">
              <ul>
                <li>Nancy Goyal</li>
                <li>nancy.goyal@newgen.co.in</li>
                <li>Invitation Sent</li>
                <li>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>x_in_circle_icon</title><g id="art"><path d="M25.12867,5.2005a13.99983,13.99983,0,1,0,0,19.79851A13.99826,13.99826,0,0,0,25.12867,5.2005ZM20.72139,22.4996a2.1358,2.1358,0,0,1-1.52051-.62946l-3.85059-3.85055-3.85107,3.85049a2.14983,2.14983,0,0,1-3.04-3.04059l3.85034-3.85107L8.45918,11.12786a2.14969,2.14969,0,1,1,3.04-3.04019l3.85107,3.8505,3.85108-3.85044a2.14971,2.14971,0,0,1,3.04016,3.04013l-3.8512,3.85056,3.8512,3.851a2.1498,2.1498,0,0,1-1.52014,3.67014Z"/></g></svg>
                </li>
              </ul>
            </div>          
        </div>
      </div>
  </div>
<!-- Step3 Ends -->

<!-- Step4 Starts -->
  <div class = "col-sm-12 col-md-12 col-lg-12 caseCreationStep4Container" *ngIf="currentStep==4" >
      <div class = "col-sm-12 col-md-12 col-lg-12">
        <h6>Case Summary</h6>
        <button class = "saveDraftBtn">Save Draft</button>
      </div>
      <div class = "caseSummaryContainer">
        <div class = "caseSummaryBody">
          <div class = "row row1">
            <ul>
              <li>
                <label>Case Name</label>
                <p>Design proposal for Hector Museum</p>
              </li>
              <li>
                  <label>Case Template</label>
                  <p>Agency Proposals</p>
              </li>
              <li>
                  <label>Case Due Date</label>
                  <p>October 31, 2017</p>
              </li>
            </ul>
          </div>
          <div class = "row row2">
              <label>Case Description</label>
              <p>
                Design proposal for Hector Museum Design proposal 
                for Hector Museum Design proposal for Hector Museum
                 Design proposal for Hector Museum  Design proposal for Hector Museum
                 Design proposal for Hector Museum
              </p>
          </div>
          <div class = "row row3">
              <label>Case Members</label>
              <ul class = "caseMembersListColumn">
                <li>
                  <div class = "col-sm-12 col-md-12 col-lg-12">
                    Himanshu Kumar
                  </div>
                  <div class = "col-sm-12 col-md-12 col-lg-12">
                    Shweta Bajad
                  </div>
                  <div class = "col-sm-12 col-md-12 col-lg-12">
                    Sweta Bansal
                  </div>
                  <div class = "col-sm-12 col-md-12 col-lg-12">
                    Pavneet Bhutani
                  </div>
                </li>
                <li>
                  <div class = "col-sm-12 col-md-12 col-lg-12">
                    Amar Sharma
                  </div>
                  <div class = "col-sm-12 col-md-12 col-lg-12">
                    Varun Mittal
                  </div>
                  <div class = "col-sm-12 col-md-12 col-lg-12">
                    Sachin Tyagi
                  </div>
                  <div class = "col-sm-12 col-md-12 col-lg-12">
                    Sanjeev Kumar
                  </div>
                </li>
              </ul>
          </div>
          <div class = "row row4">
              <label>Case Tags</label>
              <ul>
                <li>
                  <span class = "tagChip2">
                    HectorMuseum
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>x_delete_icon@1x</title><g id="art"><path d="M19.8656,14.99916l8.12642-8.126A3.4402,3.4402,0,0,0,23.12684,2.008L15,10.134,6.87316,2.008A3.4402,3.4402,0,0,0,2.008,6.87316l8.12642,8.126L2.008,23.12684A3.4402,3.4402,0,1,0,6.87316,27.992L15,19.866l8.12684,8.126A3.4402,3.4402,0,0,0,27.992,23.12684Z"/></g></svg>
                  </span>
                </li>
                <li>
                  <span class = "tagChip2">
                    NorthAmericanPRojects
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>x_delete_icon@1x</title><g id="art"><path d="M19.8656,14.99916l8.12642-8.126A3.4402,3.4402,0,0,0,23.12684,2.008L15,10.134,6.87316,2.008A3.4402,3.4402,0,0,0,2.008,6.87316l8.12642,8.126L2.008,23.12684A3.4402,3.4402,0,1,0,6.87316,27.992L15,19.866l8.12684,8.126A3.4402,3.4402,0,0,0,27.992,23.12684Z"/></g></svg>
                  </span>
                </li>
                <li>
                  <span class = "tagChip2">
                    Himanshu
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>x_delete_icon@1x</title><g id="art"><path d="M19.8656,14.99916l8.12642-8.126A3.4402,3.4402,0,0,0,23.12684,2.008L15,10.134,6.87316,2.008A3.4402,3.4402,0,0,0,2.008,6.87316l8.12642,8.126L2.008,23.12684A3.4402,3.4402,0,1,0,6.87316,27.992L15,19.866l8.12684,8.126A3.4402,3.4402,0,0,0,27.992,23.12684Z"/></g></svg>
                  </span>
                </li>
                <li>
                  <span class = "tagChip2">
                    Code1Projects
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>x_delete_icon@1x</title><g id="art"><path d="M19.8656,14.99916l8.12642-8.126A3.4402,3.4402,0,0,0,23.12684,2.008L15,10.134,6.87316,2.008A3.4402,3.4402,0,0,0,2.008,6.87316l8.12642,8.126L2.008,23.12684A3.4402,3.4402,0,1,0,6.87316,27.992L15,19.866l8.12684,8.126A3.4402,3.4402,0,0,0,27.992,23.12684Z"/></g></svg>
                  </span>
                </li>
                <li>
                  <span class = "tagChip2">
                    DeltaGroupProjects
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>x_delete_icon@1x</title><g id="art"><path d="M19.8656,14.99916l8.12642-8.126A3.4402,3.4402,0,0,0,23.12684,2.008L15,10.134,6.87316,2.008A3.4402,3.4402,0,0,0,2.008,6.87316l8.12642,8.126L2.008,23.12684A3.4402,3.4402,0,1,0,6.87316,27.992L15,19.866l8.12684,8.126A3.4402,3.4402,0,0,0,27.992,23.12684Z"/></g></svg>
                  </span>
                </li>
                <li>
                  <span class = "tagChip2">
                    SilverStarCompetition
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>x_delete_icon@1x</title><g id="art"><path d="M19.8656,14.99916l8.12642-8.126A3.4402,3.4402,0,0,0,23.12684,2.008L15,10.134,6.87316,2.008A3.4402,3.4402,0,0,0,2.008,6.87316l8.12642,8.126L2.008,23.12684A3.4402,3.4402,0,1,0,6.87316,27.992L15,19.866l8.12684,8.126A3.4402,3.4402,0,0,0,27.992,23.12684Z"/></g></svg>
                  </span>
                </li>
                <li>
                  <span class = "tagChip2">
                    Proposals
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>x_delete_icon@1x</title><g id="art"><path d="M19.8656,14.99916l8.12642-8.126A3.4402,3.4402,0,0,0,23.12684,2.008L15,10.134,6.87316,2.008A3.4402,3.4402,0,0,0,2.008,6.87316l8.12642,8.126L2.008,23.12684A3.4402,3.4402,0,1,0,6.87316,27.992L15,19.866l8.12684,8.126A3.4402,3.4402,0,0,0,27.992,23.12684Z"/></g></svg>
                  </span>
                </li>
              </ul>
          </div>
          <div class = "row row5">
            <button class = "initiateCaseBtn" (click)="gotoCaseFile()" >Initiate Case</button>
          </div>
        </div>
      </div>
  </div>
<!-- Step4 Ends -->
</div>


<div class = "row" *ngIf="currentStep < 4">
  <div class = "col-sm-12 col-md-12 col-lg-12 caseCreationNavigationFooter nextNavigationControl">
      <ul (click) = "proceedNext()">
          <li>
            <span><i>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>NEW</title><g id="art"><path d="M24.83333,5.035a13.99988,13.99988,0,1,0,0,19.79834A13.99872,13.99872,0,0,0,24.83333,5.035ZM20.19857,16.43685l-6.0835,6.0835A2.12495,2.12495,0,0,1,11.11019,19.515l4.58057-4.58105-4.58057-4.58057A2.12494,2.12494,0,1,1,14.11507,7.348l6.0835,6.0835a2.12481,2.12481,0,0,1,0,3.00537Z"/></g></svg>
            </i></span>
          </li>
          <li>
            Next
          </li>
        </ul>
  </div>
</div>