@import '../../styles.scss';
.caseCreationStepsWizard{
    background: $grey1;
    height: 130px;
    text-align: center;
    margin-bottom:35px;
    z-index: 1;
    position: fixed;
    .processRow{
        display: inline-block;
        width: auto;
        top: 16px;
        position: relative;
        height: 100px;
        z-index: 1;
        .connectingRow{
            border: 1px solid #9fb1bd;
            position: relative;
            height: 1px;
            width: 600px;
            top: 25px;
            display: inline-block;
        }
        .wizardSteps{
            display: inline-block;
            width: 196px;
            font-family: $font-workSans-regular;
            font-size: 14px;
            color: $grey3;
            .wizardStepDot{
                border: 1px solid $grey4;
                display: inline-block;
                position: relative;
                z-index: 2;
                background: $grey4;
                vertical-align: super;
                color: $grey1;
                font-size: 15px;
                cursor:pointer;
                font-family: $font-workSans-medium;
                @include circularElement(36px);
            }
        }
        .wizardSteps.active{
            color: $blue;
            .wizardStepDot{
                background: $blue;
                border: 1px solid $blue;
            }
        }
    }
    .exitCaseCreationControl{
        text-align: center;
        right: 45px;
        position: absolute;
        top: 50px;
        ul{
            cursor: pointer;
            li{
                display: inline-block;
                span{
                    @include circularElement(16px);
                    text-align: center;
                    border-radius: 50%;
                    height: 16px;
                    width: 16px;
                    line-height: 18px;                    
                    color: #fff;
                    display: inline-block;
                    top: -2px;
                    position: relative;
                    vertical-align: middle;
                    i{
                        font-size: 12px;
                        svg{
                            fill:$grey4;
                        }
                    }
                }
            }
            li:last-child{
                color:$grey4;
            }
        }
    }
}
.caseCreationBody{
    margin-top: 163px;
    position: relative;
    h6{
        font-family: $font-workSans-regular;
        font-size: 16px;
        color: $blue;
        display: inline-block;
    }
    p{
        font-family: $font-workSans-regular;
        font-size: 14px;
        margin-top: 15px;
    }
    .saveDraftBtn{
        right: 12px;
        position: absolute;
        width:115px;
        @include appButton($blue2,$blue);
    }
    .caseCreationStep1Container{
        div{
            text-align: center;
            float: left;
            
            .dropdown{
                float: none;    
                .btn-secondary{
                    background: #fff;
                    border: 1px solid $grey3;
                    color: $darkGrey;
                    width: 255px;
                    height: 35px;
                    margin-top: 35px;
                    text-align: left;
                    padding: 0 10px;
                    position: relative;
                    cursor: pointer;
                    .dropdownArrows{
                        position: absolute;
                        right: 5px;
                        i{
                            display: block;
                            line-height: 0.5;
                            font-size: 20px;
                            color: $grey3;
                        }
                    }
                }
                .btn-secondary:focus{
                    box-shadow: 0px 2px 7px 1px rgba(134,142,150,.4);
                }
                .dropdown-toggle::after{
                    display: none;
                }
                .dropdown-menu{
                    text-align: left;  
                    width: 255px;
                    button{
                        font-family: $font-workSans-regular;
                        padding: 0 10px;
                        font-size: 16px;
                        line-height: 25px;
                        color: $darkGrey;
                        cursor: pointer;
                        span{
                            padding: 10px 0;
                            width: 100%;
                            float: left;
                            position: relative;
                            border-bottom: 1px solid $grey2;
                            color: inherit;
                        }
                    } 
                    button:last-child{
                        span{
                            border-bottom-color: transparent;
                        }
                    }
                    button:hover, button:focus{
                        background: $blue;
                        color: #fff;
                        border-color: inherit;
                        outline: none;
                        span{
                            border-bottom: 1px solid $blue;
                        }
                    }
                }
            }
            .templateIcon{
                margin-top: 40px;
                float:none;
                text-align: center;
                span{
                    height: 47px;
                    width: 47px;
                    display: inline-block;
                    background: #dce7f2;
                    line-height: 47px;
                    i{
                        vertical-align: middle;
                    }
                }
                .templateDescription{
                    margin-top: 15px;
                    p{
                        color: $blue;
                    }
                }
            }
        }
    }
    .caseCreationStep2Container{
        div{
            text-align: center;
            float: left;
        }
        .formContainer{
            margin-top: 35px;
            form{
                display: inline-block;
                width:760px;
                font-family: $font-workSans-regular;
                font-size: 14px;
                div{
                    text-align: left;
                    float: none;
                }
                label{
                    font-family: $font-workSans-regular;
                    font-size: 14px;
                    color: $grey4;
                }
                input{
                    padding: 6px;
                    font-size: 14px;
                    height: 35px;
                }
                textarea{
                    height: 75px;
                    padding: 6px;
                    resize: none;
                    font-size: 14px;
                }
                .form-row{
                    margin-bottom: 24px;
                    .input-group-addon{
                        display: inline-block;
                        background: none;
                        border: none;
                        position: absolute;
                        right: 7px;
                        top: 24px;
                        svg{
                            width: 30px;
                            height: 30px;
                            path{
                                fill: $grey3;
                            }
                        }
                    }
                }
                ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                    font-size: 14px;
                    color: $grey3;
                  }
                  ::-moz-placeholder { /* Firefox 19+ */
                    font-size: 14px;
                    color: $grey3;
                  }
                  :-ms-input-placeholder { /* IE 10+ */
                    font-size: 14px;
                    color: $grey3;
                  }
                  :-moz-placeholder { /* Firefox 18- */
                    font-size: 14px;
                    color: $grey3;
                  }
            }
        }
    }

    .caseCreationStep3Container{
        div{
            text-align: center;
            float: left;
        }
        .formContainer{
            margin-top: 35px;
            form{
                display: inline-block;
                width:760px;
                font-family: $font-workSans-regular;
                font-size: 14px;
                div{
                    text-align: left;
                    float: none;
                }
                label{
                    font-family: $font-workSans-regular;
                    font-size: 14px;
                    color: $grey4;
                }
                input{
                    padding: 6px;
                    font-size: 14px;
                    height: 35px;
                }
                textarea{
                    height: 75px;
                    padding: 6px;
                    resize: none;
                    font-size: 14px;
                }
                .form-row{
                    .teamMemberNameInputDiv{
                        width: 360px;
                        margin-right: 25px;
                    }
                    .teamMemberEmailInputDiv{
                        width: 325px;
                        margin-right: 10px;
                    }
                    .addTeamMemberControl{
                        height: 30px;
                        width: 30px;
                        float: right;
                        top: 24px;
                        position: relative;
                        border-radius: 4px;
                        line-height: 43px;
                        button{
                            height: 100%;
                            width: 100%;
                            border-radius: 4px;
                            outline: none;
                            border: 1px solid $blue;
                            color: #fff;
                            background: $blue;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        .caseMembersContainer{
            font-family: $font-workSans-regular;
            margin-top: 27px;
            .caseMembersBody{
                float: none;
                display: inline-block;
                width: 760px;
                text-align: initial;
                label{
                    font-family: $font-workSans-regular;
                    font-size: 14px;
                    color: $grey4;
                }
                .caseMembersRow{
                    border-bottom: 1px solid rgba(159, 177, 189, 0.5);
                    height: 56px;
                    line-height: 56px;
                    vertical-align: middle;
                    text-align: initial;
                    font-size: 14px;
                    ul{
                        li{
                            width: 302px;
                            float: left;
                            color: $blue
                        }
                        li:last-child{
                            width: 140px !important;
                            color: $grey4 !important;
                            text-align: right;
                        }
                    }
                }
                .caseMembersRow.borderTop{
                    border-top: 1px solid rgba(159, 177, 189, 0.5);                   
                }
            }
        }
    }

    .caseCreationStep4Container{
        div{
            text-align: center;
        }
        .caseSummaryContainer{
            margin-top: 35px;
            .caseSummaryBody{
                width:760px;
                display: inline-block;
                float: none;
                .row{
                    border-bottom: 1px solid $grey2;
                    padding-top: 16px;
                    padding-bottom: 16px;
                }
                .row1{
                    padding-top: 0;
                    ul{
                        li{
                            width: 252px;
                            float: left;
                            text-align: left;
                            p{
                                margin-top: 0;
                                width: 210px;
                                font-family: $font-workSans-regular;
                                font-size: 16px;
                            }
                        }
                        li:nth-child(1){
                            width:316px;
                        }
                        li:nth-child(2){
                            width:290px;
                        }
                        li:nth-child(3){
                            width:146px;
                        }
                    }
                }
                .row2{
                    p{
                        width: 100%;
                        text-align: left;
                    }
                }
                .row3{
                    ul.caseMembersListColumn{
                        width: 100%;
                        text-align: left;                       
                        li{
                            float: left;
                            width:190px;
                            div{
                                text-align: left;
                            }
                        }   
                    }
                }
                .row4{
                    ul{
                        width: 100%;
                        li{
                            float: left;
                        }
                    }
                }
                .row5{
                    margin-top: 29px;
                    margin-bottom: 80px;
                    display: inline-block;
                    border-bottom: none;
                    .initiateCaseBtn{
                        @include appButton($blue,#fff);
                        width: 112px;
                    }
                }
            }
            label{
                color: $grey4;
            }
            p{
                margin-top: 0;
                font-family: $font-workSans-regular;
                font-size: 16px;
            }
        }
    }


}
.caseCreationNavigationFooter{
    margin-top: 50px;
    margin-bottom: 50px;
    span{
        background: #fff !important;
    }
    i{
        svg{
            fill:$blue;
        }
    }
}