@import '../../styles.scss';
.taskWindow{
    .taskWindowHeader{
        padding: 20px 12px;
        padding-bottom: 0;
        position: fixed;
        width: 100%;
        background: #fff;
        z-index: 1;
        .taskWindowHeader1{
            font-family: $font-workSans-regular;
            margin-bottom: 12px;
            .priorityIcon{
                font-size: 14px;
                float: left;
                line-height: 24px;
                margin-right: 10px;
            }
            .normalPriority{
                color: $lightGreen;
            }
            .followingTag{
                @include customTag(rgba(129, 112, 255, 0.3), $purple);
                margin-left: 10px;
            }
            h5{
                float: left;
                font-family: $font-workSans-regular;
                font-size: 22px;
            }
            .taskActionsBtn{
                @include appButton($blue,#fff);
                width: 131px;
                float: right;
                margin-right: 17px;
                svg{
                    height: 12px;
                    width: 12px;
                    vertical-align: middle;
                    fill: #fff;
                }
            }
            .markCompleteBtn{
                float: right;
                width: 131px;
            }
        }
        .taskWindowHeader2{
            line-height: 14px;
            border-bottom: 2px solid $grey2;
            padding-bottom: 10px;
            ul{
                li{
                    display: inline-block;
                    margin-right: 68px;
                    color: $grey3;
                    font-size: 14px;
                    font-family: $font-workSans-regular;
                    cursor: pointer;
                }
                li.active{
                    font-family: $font-workSans-semiBold;
                    color: $blue;
                }
            }
        }
    }
    .taskContainer{
        width: calc(100% - 348px);
        float:right;
        margin-top: 83px;
        z-index: 1;
        margin-bottom: 50px;
        .tabsContainer{
            .overviewTabContainer{
                padding-left: 30px;
                padding-right: 12px;
                .topBannar{
                    margin-top: 50px;
                    border-bottom: 1px solid $grey2;
                    float: left;
                    padding-bottom: 28px;
                    .box{
                        float: left;
                        font-size: 14px;
                        font-family: $font-workSans-regular;
                        .circularElement{
                            @include circularElement(55px);                    
                            display: block;
                            margin-right: 8px;
                            font-family: $font-workSans-bold;
                        }
                    }
                    .box1{
                        label{
                            color: $lightGreen;

                        }
                        .circularElement{
                            border: 2px solid $lightGreen;
                            background: rgba(25, 204, 199, 0.3);
                        }
                    }
                    .box2{
                        label{
                            color: $orange;
                        }
                        .circularElement{
                            border: 2px solid $orange;
                            color: $orange;
                            background: rgba(255, 113, 85, 0.3);
                            font-size: 26px;
                            font-weight: 800;
                        }
                    }
                    .box3{
                        label{
                            color: $yellow;
                        }
                        .circularElement{
                            border: 2px solid $yellow;
                            background: rgba(107, 122, 132, 0.3);
                            img{
                                width: 85%;
                            }
                        }
                    }
                    .box4{
                        label{
                            color: $red;
                        }
                        .circularElement{
                            border: 2px solid $red;
                            background: rgba(249, 42, 88, 0.3);
                        }
                        .inlineListLi:last-child{
                            // width: 74%;
                            li:last-child{
                                max-height: 40px;
                                text-overflow: ellipsis;
                                overflow: hidden;
                                display: -webkit-box !important;
                                -webkit-line-clamp: 2;
                                -webkit-box-orient: vertical;
                            }
                        }
                    }
                }
                .taskDetailsContainer{
                    .taskDetailsHeader{
                        display: inline-block;
                        padding-bottom: 26px;
                        padding-top: 20px;
                        h6{
                            float: left;
                            font-size: 16px;
                            font-family: $font-workSans-regular;
                        }
                        button{
                            float: right;
                        }
                        button.cancelBtn{
                            margin-right: 15px;
                        }
                        ul{
                            li{
                                float: left;
                                button{
                                    @include appButton($blue2,$blue);
                                    font-size: 12px;
                                    padding: 0 10px;
                                    height: 20px;
                                    line-height: 20px;
                                    margin-left: 18px;
                                }
                            }
                        }
                    }
                    .taskDetailsBody{
                        font-family: $font-workSans-regular;
                        font-size: 14px;
                        padding-right: 15px;
                        margin-top: -7px;
                        form{
                            .form-group{
                                padding: 0;
                                .col3layoutInput{
                                    width: 97%;
                                }
                            }
                            .form-group.col-itm-2{
                                left:5px;
                            }
                            .form-group.col-itm-3{
                                left:10px;
                            }
                            label{
                                font-family: $font-workSans-regular;
                                font-size: 14px;
                                color: $grey4;
                            }
                            input,select{
                                padding: 6px;
                                font-size: 14px;
                                height: 35px;
                                color: $darkGrey;
                            }
                            textarea{
                                height: 75px;
                                padding: 6px;
                                resize: none;
                                font-size: 14px;
                                color: $darkGrey;
                            }
                            .form-row{
                                margin-bottom: 18px;
                                .input-group-addon{
                                    background: none;
                                    border: none;
                                    position: absolute;
                                    right: 12px;
                                    top: 24px;
                                    svg{
                                        width: 30px;
                                        height: 30px;
                                        path{
                                            fill: $grey3;
                                        }
                                    }
                                }
                            }
                            .uploadReferenceBtn{
                                right: 18px;
                                bottom: 8px;
                                position: absolute;
                                width:64px;
                                @include appButton($blue2,$blue);
                                font-size: 12px;
                            }
                            .tagChip{
                                margin-top: 2px;
                                margin-left: -2px;
                            }
                        }
                    }
                }
               /* .taskCarouselContainer{
                    .sliderArea{
                        padding: 10px 70px;
                        height: 109px;
                        float: left;
                        .header{
                            font-size: 14px;
                            color: $grey4;
                            margin-bottom: 10px;
                        }
                        .body{
                            color: $darkGrey;
                            font-family: $font-workSans-regular;
                            font-size: 15px;
                            .dependencyTag{
                                display: inline-block;
                                @include appButton($blue2,$blue);
                                font-size: 15px;
                                width: 164px;
                                height: 25px;
                            }
                         
                            .referenceList{
                                -webkit-column-count: 4;
                                -moz-column-count: 4;
                                column-count: 4;
                                width: 85%;
                                float: left;
                                li{
                                    display: inline-block;
                                    a{
                                        text-decoration: underline;
                                        color: $blue;
                                    }
                                    a:hover{
                                        color: $blue;
                                    }
                                }                                
                            }
                            .downloadAllReferencesBtn{
                                display: inline-block;
                                @include appButton($blue2,$blue);
                                font-size: 12px;
                                width: 100px;
                                height: 25px;
                                float: right;
                            }
                            .meetingParticipants{
                                display: inline-block;
                                .participantsList{
                                    li{
                                        float: left;
                                        margin-right: 10px;
                                    }
                                }
                            }
                            .meetingInfo{
                                margin-left: 5px;
                                display: inline-block;
                                span{
                                    display: block;
                                    display: block;
                                }
                            }

                        }
                    }

                }*/
                .taskFormContainer{
                    font-family: $font-workSans-regular;
                    float: left;
                    width: 100%;
                    .taskForm{
                        float: left;
                        width: 100%;
                        margin-right: 16px;
                        .header{
                            font-size: 14px;
                            color: $grey4;
                        }
                        .body{
                            background: $grey1;
                            float: left;
                            height: 260px;
                            width: 100%;
                            border-radius: 4px;
                            padding: 18px 15px;
                            h6{
                                font-size: 16px;
                                color: $blue;
                                margin-bottom: 15px;
                                float: left;
                            }
                            .editIcon{
                                float: left;
                                font-size: 13px;
                                color: $blue;
                                margin-left: 3px;
                            }
                            form{
                                .form-row{
                                    display: block;
                                }
                                .form-group{
                                    padding: 0;
                                    width: 100%;
                                    input{
                                        height: 35px;
                                        width: 97%;
                                        margin-bottom: 18px;
                                        margin-right: 5px;
                                        padding: 6px;
                                        font-size: 13px;
                                        color: $darkGrey;
                                        float: left;
                                    }
                                    span{
                                        float: left;
                                        line-height: 40px;
                                        svg{
                                            height: 14px;
                                            width: 14px;
                                            fill: $blue;
                                        }
                                    }
                                }
                                
                                
                                  .calendarIcon{
                                      position: absolute;
                                      right: 0;
                                      bottom: 12px;
                                  }
                                  .addBtn{
                                    position: absolute;
                                    right: 6px;
                                    bottom: 20px;
                                      svg{
                                        height: 16px;
                                        width: 16px;
                                        fill: $blue;
                                        -webkit-transform: rotate(45deg);
                                        transform: rotate(45deg);
                                        cursor: pointer;
                                      }
                                  }
                            }
                        }
                        .footer{
                            margin-top: 11px;
                            float: left;
                            ul{
                                li{
                                    margin-right: 18px;
                                    float: left;
                                    button{
                                        @include appButton($blue2,$blue);
                                        font-size: 12px;
                                        padding: 0 10px;
                                    }
                                }
                                li:last-child{
                                    float: right;
                                    margin-right: 0;
                                }
                            }
                        }
                    }
                    .taskDependencyContainer,.taskMeetingContainer{
                        float: left;
                        width: 100%;
                        margin-top: 42px;
                        .header{
                            font-size: 14px;
                            color: $grey4;
                            span{
                                float: left;
                            }
                        }
                        .body{
                            position: relative;
                            background: $grey1;
                            float: left;
                            height: 123px;
                            width: 100%;
                            border-radius: 4px;
                            padding: 18px 15px;
                            h6{
                                font-size: 16px;
                                color: $blue;
                                margin-bottom: 15px;
                                float: left;
                            }
                            form{
                                .form-group{
                                    padding: 0;
                                    .col3layoutInput{
                                        width: 97%;
                                    }
                                }
                                .form-group.col-itm-2{
                                    left:5px;
                                }
                                .form-group.col-itm-3{
                                    left:10px;
                                }
                                label{
                                    font-family: $font-workSans-regular;
                                    font-size: 14px;
                                    color: $grey4;
                                }
                                input,select{
                                    padding: 6px;
                                    font-size: 14px;
                                    height: 35px;
                                    color: $darkGrey;
                                }
                                textarea{
                                    height: 75px;
                                    padding: 6px;
                                    resize: none;
                                    font-size: 14px;
                                    color: $darkGrey;
                                }
                                .form-row{
                                    margin-bottom: 18px;
                                    .input-group-addon{
                                        background: none;
                                        border: none;
                                        position: absolute;
                                        right: 12px;
                                        top: 27px;
                                        svg{
                                            width: 30px;
                                            height: 30px;
                                            path{
                                                fill: $grey3;
                                            }
                                        }
                                    }
                                }
                            }
                        }                        
                    }
                    .taskMeetingContainer{
                        .body{
                            height: 180px;
                        }
                        .attendeesInput{
                            width: 49.2%;
                            padding-right: 20px !important;
                        }
                        .locationInput{
                            width: 49.2%;
                        }
                    }
                }
            }
            .subTaskTabContainer{
                padding: 20px 36px;
                padding-right: 12px;
                font-family: $font-workSans-regular;
                .addSubtaskContainer{
                    margin-top: 10px;
                    background: $grey1;
                    padding: 21px 13px;
                    input{
                        padding: 6px;
                        font-size: 14px;
                        height: 35px;
                        color: $darkGrey;
                        width: 58.8%;
                        display: inline-block;
                        font-family: $font-workSans-regular;
                    }
                    .quickComposeTaskBtn{
                        @include appButton($blue,#fff);
                        width: 30px;
                        height: 30px;
                        float: none;
                        right: -6px;
                        top: 6px;
                        position: relative;
                        display: inline-grid;
                    }
                    ul{
                        float: right;
                        line-height: 46px;
                        right: 15px;
                        position: relative;
                        li{
                            cursor: pointer;
                            font-size: 14px;
                            float: left;
                            label{
                                color: $grey4;
                            }
                            .composerToggleIcon{
                                float: right;
                                height: 14px;
                                width: 14px;
                                background: $grey4;
                                color: #fff;
                                line-height: 14px;
                                left: 14px;
                                top: 18px;
                                text-align: center;
                                position: relative;
                            }
                        }
                    }
                }
                .subTasksTableContainer{
                    float: left;
                    .noTasksState{
                        margin-top: 36px;
                        text-align: center;
                    }
                    .tasksListContainer{
                        // margin-top: 35px;
                        margin-bottom: 55px;
                        float: left;
                        padding: 0 10px;
                        .tasksListHeader{
                            font-family: $font-workSans-regular;
                            font-size: 14px;
                            color: $darkGrey;                    
                            float: left;
                            ul{
                                li{
                                    float: left;
                                    label{
                                        font-size: 13px;
                                        color: $grey4;
                                    }
                                }
                                li:nth-child(1){
                                    width: 23.17%;
                                }
                                li:nth-child(2){
                                    width: 21.24%;
                                }
                                li:nth-child(3){
                                    width: 20.28%;
                                }
                                li:nth-child(4){
                                    width: 21.72%;
                                }
                                li:nth-child(5){
                                    width: 11.59%;
                                }
                            }
                        }
                        .tasksListTableHeader{
                            font-family: $font-workSans-regular;
                            font-size: 13px;
                            color: $grey3;
                            // border-top: 1px solid $grey2;
                            border-bottom: 1px solid $grey2;
                            float: left;
                            // margin-top: 25px;
                            padding: 10px 0;
                            ul{
                                li{
                                    float: left;
                                }
                                li:nth-child(1){
                                    width: 23.63%;
                                }
                                li:nth-child(2){
                                    width: 12.8%;
                                }
                                li:nth-child(3){
                                    width: 11.82%;
                                }
                                li:nth-child(4){
                                    width: 17.2%;
                                }
                                li:nth-child(5){
                                    width: 27.07%;
                                }
                                li:nth-child(6){
                                    width: 7.4%;
                                    text-align: right;
                                }
                            }
                        }
                        .tasksListTableBody{
                            float: left;
                            height: 150px;
                            // max-height: 150px;
                            // overflow-y: auto;
                            .taskListRow{
                                float: left;
                                width: 100%;
                                font-family: $font-futura-medium;
                                font-size: 13px;
                                color: $darkGrey;
                                border-bottom: 1px solid $grey2;
                                ul{
                                    li{
                                        float: left;
                                        line-height: 45px;
                                        vertical-align: middle;
                                        text-align: left;
                                        .highPriority{
                                            font-size: 18px;
                                            vertical-align: sub;
                                            margin-right: 3px;
                                            margin-left: 3px;
                                            color: $red;
                                        }
                                        .normalPriority{
                                            font-size: 18px;
                                            vertical-align: sub;
                                            margin-right: 3px;
                                            margin-left: 3px;
                                            color: $lightGreen;
                                        }
                                    }
                                    li.taskNameColumn{
                                        width: 23.63%;
                                    }
                                    li.assignedToColumn{
                                        width: 12.8%;
                                        button{
                                            width:64px;
                                            @include appButton($blue2,$blue);
                                            font-size: 12px;
                                        }
                                    }
                                    li.statusColumn{
                                        width: 11.82%;
                                    }
                                    li.dueDateColumn{
                                        width: 17.2%;
                                        span{
                                            float: left;
                                            svg{
                                                top: 6px;
                                                position: relative;
                                            }
                                        }
                                    }
                                    li.associationsColumn{
                                        width: 27.07%
                                    }
                                    li.actionsColumn{
                                        width: 7.4%;
                                        text-align: center;
                                        i{
                                            color: $blue;
                                            vertical-align: middle;
                                            left: 12px;
                                            position: relative;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.appSidebar{
    width: 356px;
    height: 100%;
    border-right: 2px solid $grey2;
    position: fixed;
    left: 0;
    background: #fff;
    margin-top: 83px;
    z-index: 1;
}