/* You can add global styles to this file, and also import other style files */
/* Color Pallet */
@font-face {
  font-family: 'workSans-medium';
  src: url("/assets/fonts/WorkSans-Medium.otf") format("opentype"); }

@font-face {
  font-family: 'workSans-bold';
  src: url("/assets/fonts/WorkSans-Bold.otf") format("opentype"); }

@font-face {
  font-family: 'workSans-semiBold';
  src: url("/assets/fonts/WorkSans-SemiBold.otf") format("opentype"); }

@font-face {
  font-family: 'workSans-regular';
  src: url("/assets/fonts/WorkSans-Regular.otf") format("opentype"); }

@font-face {
  font-family: 'futura-medium';
  src: url("/assets/fonts/Futura-Medium.otf") format("opentype"); }

@font-face {
  font-family: 'futura-book';
  src: url("/assets/fonts/Futura-Book-Regular.otf") format("opentype"); }

/* line 82, B:/Co/Corrus-Prototype/src/styles.scss */
.themeButton {
  background: #8170ff;
  border: none;
  outline: none;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  height: 25px;
  line-height: 25px;
  cursor: pointer; }

/* line 95, B:/Co/Corrus-Prototype/src/styles.scss */
* {
  padding: 0;
  margin: 0; }

/* line 100, B:/Co/Corrus-Prototype/src/styles.scss */
body {
  font-family: workSans-medium !important;
  overflow-y: hidden; }

/* line 104, B:/Co/Corrus-Prototype/src/styles.scss */
ul {
  list-style: none; }

/* line 107, B:/Co/Corrus-Prototype/src/styles.scss */
.userDefaultAvatar {
  display: inline-block;
  font-size: 13px;
  background: rgba(25, 204, 199, 0.3);
  color: #19ccc7;
  text-align: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 30px;
  cursor: pointer; }

/* line 115, B:/Co/Corrus-Prototype/src/styles.scss */
.userAvatarColor1 {
  color: #ff7155;
  background: rgba(255, 113, 85, 0.3); }

/* line 119, B:/Co/Corrus-Prototype/src/styles.scss */
.userAvatarColor2 {
  color: #ffc756;
  background: rgba(255, 199, 86, 0.3); }

/* line 123, B:/Co/Corrus-Prototype/src/styles.scss */
.userAvatarColor3 {
  color: #f92a58;
  background: rgba(249, 42, 88, 0.3); }

/* line 127, B:/Co/Corrus-Prototype/src/styles.scss */
.nextNavigationControl {
  text-align: center; }
  /* line 129, B:/Co/Corrus-Prototype/src/styles.scss */
  .nextNavigationControl ul {
    cursor: pointer; }
    /* line 131, B:/Co/Corrus-Prototype/src/styles.scss */
    .nextNavigationControl ul li {
      display: inline-block; }
      /* line 133, B:/Co/Corrus-Prototype/src/styles.scss */
      .nextNavigationControl ul li span {
        text-align: center;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        line-height: 16px;
        text-align: center;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        line-height: 16px;
        background: #558bff;
        color: #fff;
        display: inline-block;
        top: -2px;
        position: relative;
        vertical-align: middle; }
        /* line 146, B:/Co/Corrus-Prototype/src/styles.scss */
        .nextNavigationControl ul li span i {
          font-size: 16px; }
    /* line 151, B:/Co/Corrus-Prototype/src/styles.scss */
    .nextNavigationControl ul li:last-child {
      color: #558bff; }

/* line 156, B:/Co/Corrus-Prototype/src/styles.scss */
.helpIcon {
  height: 14px;
  width: 14px;
  position: relative; }

/* line 161, B:/Co/Corrus-Prototype/src/styles.scss */
#helpIcon {
  position: relative;
  height: 14px;
  width: 14px;
  bottom: 3px;
  cursor: pointer; }

/* line 169, B:/Co/Corrus-Prototype/src/styles.scss */
#helpIcon:hover .hoverHelpBox {
  display: block; }

/* line 173, B:/Co/Corrus-Prototype/src/styles.scss */
.hoverHelpBox {
  position: absolute;
  width: 250px;
  height: auto;
  background: #ffe3dd;
  color: #ff7155;
  font-size: 13px;
  font-family: "workSans-regular";
  bottom: 25px;
  left: -100px;
  padding: 10px;
  font-style: normal;
  border-radius: 4px;
  border: 1px solid #ff7155;
  box-shadow: 3px 3px 8px #e0e0e0;
  display: none; }
  /* line 189, B:/Co/Corrus-Prototype/src/styles.scss */
  .hoverHelpBox .carret {
    position: absolute;
    bottom: -18px;
    left: 91px;
    font-size: 30px;
    color: #ff7155; }

/* line 197, B:/Co/Corrus-Prototype/src/styles.scss */
.hoverHelpBox:after {
  content: '';
  display: block;
  position: absolute;
  top: 94.6%;
  right: 56%;
  width: 10px;
  height: 10px;
  background: #ffe3dd;
  border-right: 1px solid #ff7156;
  border-bottom: 1px solid #ff7156;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg); }

/* line 211, B:/Co/Corrus-Prototype/src/styles.scss */
.tagChip {
  position: absolute;
  top: 26px;
  display: inline-block;
  background: #23a9db;
  height: 25px;
  border-radius: 4px;
  line-height: 25px;
  color: #fff;
  font-size: 13px;
  padding: 0px 6px;
  left: 10px;
  font-family: "workSans-regular"; }
  /* line 224, B:/Co/Corrus-Prototype/src/styles.scss */
  .tagChip svg {
    fill: #fff;
    height: 10px;
    width: 10px;
    margin-left: 6px;
    text-align: left;
    cursor: pointer; }

/* line 234, B:/Co/Corrus-Prototype/src/styles.scss */
.tagChip2 {
  display: inline-block;
  background: #23a9db;
  height: 25px;
  border-radius: 4px;
  line-height: 25px;
  color: #fff;
  font-size: 13px;
  padding: 0px 6px;
  left: 10px;
  font-family: "workSans-regular";
  margin-top: 4px;
  margin-right: 8px; }
  /* line 247, B:/Co/Corrus-Prototype/src/styles.scss */
  .tagChip2 svg {
    fill: #fff;
    height: 10px;
    width: 10px;
    margin-left: 6px;
    text-align: left;
    cursor: pointer; }

/* line 256, B:/Co/Corrus-Prototype/src/styles.scss */
.caseMembersChips {
  display: inline-block;
  background: #8170ff;
  height: 25px;
  border-radius: 4px;
  line-height: 25px;
  color: #fff;
  font-size: 13px;
  padding: 0px 6px;
  left: 10px;
  font-family: "workSans-regular";
  margin-top: 4px;
  margin-right: 8px; }
  /* line 269, B:/Co/Corrus-Prototype/src/styles.scss */
  .caseMembersChips svg {
    fill: #fff;
    height: 10px;
    width: 10px;
    margin-left: 6px;
    text-align: left;
    cursor: pointer; }

/* line 278, B:/Co/Corrus-Prototype/src/styles.scss */
.inlineListUl {
  width: 100%;
  float: left; }
  /* line 281, B:/Co/Corrus-Prototype/src/styles.scss */
  .inlineListUl .inlineListLi {
    float: left; }

/* line 286, B:/Co/Corrus-Prototype/src/styles.scss */
.toggleSwitch {
  border: 1px solid #9fb1bd;
  width: 35px;
  height: 20px;
  float: left;
  border-radius: 15px;
  padding: 1px 2px;
  margin-right: 5px; }
  /* line 294, B:/Co/Corrus-Prototype/src/styles.scss */
  .toggleSwitch .switchBall {
    width: 15px;
    height: 15px;
    float: left;
    border-radius: 50%;
    background: #9fb1bd;
    vertical-align: middle; }

/* line 304, B:/Co/Corrus-Prototype/src/styles.scss */
.calendarIcon svg {
  width: 30px;
  height: 30px; }
  /* line 307, B:/Co/Corrus-Prototype/src/styles.scss */
  .calendarIcon svg path {
    fill: #bac8d6; }

/* line 312, B:/Co/Corrus-Prototype/src/styles.scss */
.associationsTag {
  font-size: 12px;
  display: inline-block;
  color: #ff7155;
  background: #ffe3dd;
  border-radius: 5px;
  height: 18px;
  line-height: 18px;
  padding: 0 10px;
  margin-right: 5px; }

/* line 323, B:/Co/Corrus-Prototype/src/styles.scss */
.saveBtn {
  background: #558bff;
  border: none;
  outline: none;
  text-align: center;
  font-family: "workSans-regular";
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  width: 64px; }

/* line 327, B:/Co/Corrus-Prototype/src/styles.scss */
.cancelBtn {
  background: #fff;
  border: none;
  outline: none;
  text-align: center;
  font-family: "workSans-regular";
  font-size: 14px;
  color: #558bff;
  border-radius: 4px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  width: 64px; }

/* line 331, B:/Co/Corrus-Prototype/src/styles.scss */
.appCustomDropdown {
  border: 1px solid #558bff;
  border-radius: 6px;
  font-family: "workSans-regular";
  font-size: 13px;
  color: #9fb1bd;
  background: #fff;
  position: absolute;
  padding: 15px 0 !important;
  box-shadow: 3px 3px 8px #9fb1bd;
  min-width: 176px; }
  /* line 342, B:/Co/Corrus-Prototype/src/styles.scss */
  .appCustomDropdown .carret {
    position: absolute;
    top: -18px;
    line-height: 14px;
    transform: rotate(180deg);
    right: 12px; }
    /* line 348, B:/Co/Corrus-Prototype/src/styles.scss */
    .appCustomDropdown .carret svg {
      height: 14px;
      width: 14px; }
  /* line 354, B:/Co/Corrus-Prototype/src/styles.scss */
  .appCustomDropdown ul li {
    display: block !important;
    float: none !important;
    text-align: left !important;
    line-height: 24px !important;
    padding: 0 10px;
    margin-right: 0 !important;
    cursor: pointer; }
    /* line 362, B:/Co/Corrus-Prototype/src/styles.scss */
    .appCustomDropdown ul li .horizontalPartition {
      display: block;
      height: 1px;
      background: #9fb1bd;
      margin-top: 5px;
      margin-bottom: 5px; }
  /* line 370, B:/Co/Corrus-Prototype/src/styles.scss */
  .appCustomDropdown ul li:hover {
    color: #558bff; }

/* line 375, B:/Co/Corrus-Prototype/src/styles.scss */
.appCustomDropdown:after {
  content: '';
  display: block;
  position: absolute;
  top: -6px;
  right: 20px;
  width: 10px;
  height: 10px;
  background: #FFFFFF;
  border-right: 1px solid #558bff;
  border-bottom: 1px solid #558bff;
  -moz-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg); }

/* line 390, B:/Co/Corrus-Prototype/src/styles.scss */
.bx-wrapper {
  background: #eef4fa !important;
  border: 5px solid #eef4fa !important;
  height: 109px; }
  /* line 394, B:/Co/Corrus-Prototype/src/styles.scss */
  .bx-wrapper .bx-viewport {
    height: 109px; }
  /* line 397, B:/Co/Corrus-Prototype/src/styles.scss */
  .bx-wrapper .bx-pager.bx-default-pager a {
    background: #dce7f2;
    height: 9px;
    width: 9px; }
  /* line 402, B:/Co/Corrus-Prototype/src/styles.scss */
  .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #558bff; }
  /* line 405, B:/Co/Corrus-Prototype/src/styles.scss */
  .bx-wrapper .bx-prev {
    left: 10px;
    background: url(/assets/img/previous.svg) left center no-repeat !important; }
  /* line 409, B:/Co/Corrus-Prototype/src/styles.scss */
  .bx-wrapper .bx-next {
    right: 10px;
    background: url(/assets/img/next.svg) right center no-repeat !important; }

/* Scrollbar */
/* line 416, B:/Co/Corrus-Prototype/src/styles.scss */
::-webkit-scrollbar {
  width: 8px; }

/* Track */
/* line 421, B:/Co/Corrus-Prototype/src/styles.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/* Handle */
/* line 428, B:/Co/Corrus-Prototype/src/styles.scss */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #bac8d6;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

/* line 435, B:/Co/Corrus-Prototype/src/styles.scss */
::-webkit-scrollbar-thumb:window-inactive {
  background: transparent; }

/* line 438, B:/Co/Corrus-Prototype/src/styles.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px;
  font-family: "workSans-regular";
  color: #bac8d6; }

/* line 443, B:/Co/Corrus-Prototype/src/styles.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  font-family: "workSans-regular";
  color: #bac8d6; }

/* line 448, B:/Co/Corrus-Prototype/src/styles.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px;
  font-family: "workSans-regular";
  color: #bac8d6; }

/* line 453, B:/Co/Corrus-Prototype/src/styles.scss */
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
  font-family: "workSans-regular";
  color: #bac8d6; }

/* line 458, B:/Co/Corrus-Prototype/src/styles.scss */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #fff url(/assets/img/double_carrot_icon.png) no-repeat 98%;
  background-size: 14px; }

/* line 2, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
.casefileContainer {
  float: left;
  width: calc(100% - 348px); }
  /* line 6, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
  .casefileContainer .casefileHeader {
    padding: 20px 28px;
    padding-bottom: 0; }
    /* line 9, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
    .casefileContainer .casefileHeader .casefileHeader1 {
      margin-bottom: 12px; }
      /* line 11, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .casefileHeader .casefileHeader1 h5 {
        float: left;
        font-family: "workSans-regular";
        font-size: 22px; }
      /* line 16, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .casefileHeader .casefileHeader1 button {
        background: #558bff;
        border: none;
        outline: none;
        text-align: center;
        font-family: "workSans-regular";
        font-size: 14px;
        color: #fff;
        border-radius: 4px;
        height: 25px;
        line-height: 25px;
        cursor: pointer;
        width: 132px;
        float: right; }
        /* line 20, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .casefileHeader .casefileHeader1 button svg {
          height: 12px;
          width: 12px;
          vertical-align: middle;
          fill: #fff; }
    /* line 28, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
    .casefileContainer .casefileHeader .casefileHeader2 {
      line-height: 14px;
      border-bottom: 2px solid #dce7f2;
      padding-bottom: 10px; }
      /* line 33, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .casefileHeader .casefileHeader2 ul li {
        display: inline-block;
        margin-right: 68px;
        color: #bac8d6;
        font-size: 14px;
        font-family: "workSans-regular";
        cursor: pointer; }
      /* line 41, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .casefileHeader .casefileHeader2 ul li.active {
        font-family: "workSans-semiBold";
        color: #558bff; }
  /* line 49, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
  .casefileContainer .overviewTabContainer {
    margin-top: 20px;
    padding: 0 28px; }
    /* line 52, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
    .casefileContainer .overviewTabContainer .topBannar {
      height: 230px;
      border-bottom: 1px solid #dce7f2;
      display: inline-block;
      text-align: center; }
      /* line 58, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .overviewTabContainer .topBannar div {
        width: 60%;
        margin-top: 47px;
        display: inline-block; }
        /* line 62, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .overviewTabContainer .topBannar div p {
          color: #8170ff;
          font-family: "workSans-regular";
          font-size: 16px;
          line-height: 24px;
          margin-bottom: 14px;
          opacity: 0.9; }
        /* line 70, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .overviewTabContainer .topBannar div button {
          width: 112px; }
    /* line 75, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
    .casefileContainer .overviewTabContainer .middleRow {
      margin-top: 50px; }
      /* line 77, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .overviewTabContainer .middleRow .box {
        float: left;
        font-size: 14px;
        font-family: "workSans-regular"; }
        /* line 81, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .overviewTabContainer .middleRow .box .circularElement {
          text-align: center;
          border-radius: 50%;
          height: 55px;
          width: 55px;
          line-height: 55px;
          display: block;
          margin-right: 8px; }
      /* line 88, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .overviewTabContainer .middleRow .box1 label {
        color: #19ccc7; }
      /* line 92, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .overviewTabContainer .middleRow .box1 .circularElement {
        border: 1px solid #19ccc7;
        background: rgba(25, 204, 199, 0.3); }
      /* line 98, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .overviewTabContainer .middleRow .box2 label {
        color: #ff7155; }
      /* line 101, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .overviewTabContainer .middleRow .box2 .circularElement {
        border: 1px solid #ff7155;
        color: #ff7155;
        background: rgba(255, 113, 85, 0.3);
        font-size: 26px;
        font-weight: 800; }
      /* line 110, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .overviewTabContainer .middleRow .box3 label {
        color: #ffc756; }
      /* line 113, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .overviewTabContainer .middleRow .box3 .circularElement {
        border: 1px solid #ffc756;
        background: rgba(255, 199, 86, 0.3); }
        /* line 116, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .overviewTabContainer .middleRow .box3 .circularElement img {
          width: 85%; }
      /* line 122, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .overviewTabContainer .middleRow .box4 label {
        color: #29c4ff; }
      /* line 125, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .overviewTabContainer .middleRow .box4 .circularElement {
        border: 1px solid #29c4ff;
        background: rgba(41, 196, 255, 0.3); }
      /* line 129, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .overviewTabContainer .middleRow .box4 .inlineListLi:last-child {
        width: 74%; }
        /* line 131, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .overviewTabContainer .middleRow .box4 .inlineListLi:last-child li:last-child {
          max-height: 40px;
          text-overflow: ellipsis;
          overflow: hidden;
          display: -webkit-box !important;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical; }
    /* line 142, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
    .casefileContainer .overviewTabContainer .bottomRow {
      margin-top: 40px;
      margin-bottom: 50px;
      float: left; }
      /* line 146, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .overviewTabContainer .bottomRow .reportsContainer {
        float: left;
        height: 284px;
        width: 47.45%;
        border: 1px solid #dce7f2;
        color: #dce7f2;
        border-radius: 6px;
        box-shadow: 3px 3px 5px 1px;
        padding: 10px; }
        /* line 155, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .overviewTabContainer .bottomRow .reportsContainer .heading {
          margin-bottom: 20px; }
          /* line 157, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .overviewTabContainer .bottomRow .reportsContainer .heading label {
            font-size: 14px;
            color: #9fb1bd; }
        /* line 162, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .overviewTabContainer .bottomRow .reportsContainer .taskReport {
          float: left;
          text-align: center; }
          /* line 165, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .overviewTabContainer .bottomRow .reportsContainer .taskReport img {
            width: 66%; }
        /* line 169, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .overviewTabContainer .bottomRow .reportsContainer .taskReportDetails {
          float: left; }
          /* line 171, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .overviewTabContainer .bottomRow .reportsContainer .taskReportDetails li {
            font-family: "workSans-regular";
            color: #000000;
            font-size: 14px;
            line-height: 24px; }
            /* line 176, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
            .casefileContainer .overviewTabContainer .bottomRow .reportsContainer .taskReportDetails li span {
              color: #558bff;
              margin-right: 4px; }
      /* line 183, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .overviewTabContainer .bottomRow .reportsContainer:first-child {
        margin-right: 40px; }
  /* line 190, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
  .casefileContainer .tasksTabContainer {
    margin-top: -2px; }
    /* line 192, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
    .casefileContainer .tasksTabContainer .taskComposerContainer {
      background: #ecf3fa;
      min-height: 70px;
      height: auto; }
      /* line 196, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .tasksTabContainer .taskComposerContainer .composerControlHeader {
        font-size: 14px;
        padding: 30px 28px 30px 18px;
        font-family: "workSans-regular"; }
        /* line 200, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .tasksTabContainer .taskComposerContainer .composerControlHeader p {
          display: inline-block;
          width: 87%;
          color: #6b7a84; }
        /* line 205, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .tasksTabContainer .taskComposerContainer .composerControlHeader .quickComposeMode {
          float: left;
          width: 86.67%;
          position: relative;
          bottom: 15px; }
          /* line 210, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .tasksTabContainer .taskComposerContainer .composerControlHeader .quickComposeMode input {
            padding: 6px;
            font-size: 14px;
            height: 35px;
            color: #6b7a84;
            width: 65.38%;
            display: inline-block;
            font-family: "workSans-regular"; }
          /* line 219, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .tasksTabContainer .taskComposerContainer .composerControlHeader .quickComposeMode .quickComposeTaskBtn {
            background: #558bff;
            border: none;
            outline: none;
            text-align: center;
            font-family: "workSans-regular";
            font-size: 14px;
            color: #fff;
            border-radius: 4px;
            height: 25px;
            line-height: 25px;
            cursor: pointer;
            width: 30px;
            height: 30px;
            float: none;
            right: -5px;
            top: 6px;
            position: relative;
            display: inline-grid; }
        /* line 230, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .tasksTabContainer .taskComposerContainer .composerControlHeader span {
          color: #9fb1bd; }
        /* line 233, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .tasksTabContainer .taskComposerContainer .composerControlHeader .composerToggleBtn {
          float: right;
          cursor: pointer;
          height: 14px;
          width: 14px;
          top: 4px;
          position: relative;
          background: #9fb1bd; }
          /* line 241, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .tasksTabContainer .taskComposerContainer .composerControlHeader .composerToggleBtn i {
            color: #fff;
            line-height: 14px;
            font-size: 14px;
            position: relative;
            bottom: 1px; }
      /* line 250, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer {
        font-family: "workSans-regular";
        font-size: 14px;
        padding-left: 18px;
        padding-right: 28px;
        margin-top: -7px; }
        /* line 257, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form .form-group {
          padding: 0; }
          /* line 259, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form .form-group .col3layoutInput {
            width: 97%; }
        /* line 263, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form .form-group.col-itm-2 {
          left: 5px; }
        /* line 266, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form .form-group.col-itm-3 {
          left: 10px; }
        /* line 269, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form label {
          font-family: "workSans-regular";
          font-size: 14px;
          color: #9fb1bd; }
        /* line 274, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form input, .casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form select {
          padding: 6px;
          font-size: 14px;
          height: 35px;
          color: #6b7a84; }
        /* line 280, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form textarea {
          height: 75px;
          padding: 6px;
          resize: none;
          font-size: 14px;
          color: #6b7a84; }
        /* line 287, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form .form-row {
          margin-bottom: 18px; }
          /* line 289, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form .form-row .input-group-addon {
            background: none;
            border: none;
            position: absolute;
            right: 12px;
            top: 24px; }
            /* line 295, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
            .casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form .form-row .input-group-addon svg {
              width: 30px;
              height: 30px; }
              /* line 298, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
              .casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form .form-row .input-group-addon svg path {
                fill: #bac8d6; }
        /* line 304, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form .uploadReferenceBtn {
          right: 18px;
          bottom: 8px;
          position: absolute;
          width: 64px;
          background: #d9e5ff;
          border: none;
          outline: none;
          text-align: center;
          font-family: "workSans-regular";
          font-size: 14px;
          color: #558bff;
          border-radius: 4px;
          height: 25px;
          line-height: 25px;
          cursor: pointer;
          font-size: 12px; }
        /* line 312, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form .tagChip {
          margin-top: 2px;
          margin-left: -2px; }
      /* line 318, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .tasksTabContainer .taskComposerContainer .addTaskRow {
        text-align: center;
        margin-top: 12px;
        margin-bottom: 24px;
        display: inline-block; }
        /* line 323, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .tasksTabContainer .taskComposerContainer .addTaskRow button {
          background: #558bff;
          border: none;
          outline: none;
          text-align: center;
          font-family: "workSans-regular";
          font-size: 14px;
          color: #fff;
          border-radius: 4px;
          height: 25px;
          line-height: 25px;
          cursor: pointer;
          width: 110px; }
    /* line 330, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
    .casefileContainer .tasksTabContainer .tasksTableContainer {
      margin-bottom: 50px; }
      /* line 332, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .tasksTabContainer .tasksTableContainer .noTasksState {
        margin-top: 36px;
        text-align: center; }
        /* line 335, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .tasksTabContainer .tasksTableContainer .noTasksState .illustration {
          width: 130px;
          height: 130px;
          background: #ecf3fa;
          display: inline-block;
          padding: 5px;
          font-size: 14px;
          color: #9fb1bd; }
        /* line 344, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .tasksTabContainer .tasksTableContainer .noTasksState p {
          text-align: center;
          color: #8170ff;
          margin-top: 30px;
          font-size: 16px;
          font-family: "futura-medium";
          letter-spacing: 1px; }
      /* line 353, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer {
        margin-top: 35px;
        margin-bottom: 55px;
        float: left;
        padding: 0 10px; }
        /* line 358, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListHeader {
          font-family: "workSans-regular";
          font-size: 14px;
          color: #6b7a84;
          float: left; }
          /* line 364, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListHeader ul li {
            float: left; }
            /* line 366, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
            .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListHeader ul li label {
              font-size: 13px;
              color: #9fb1bd; }
          /* line 371, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListHeader ul li:nth-child(1) {
            width: 23.17%; }
          /* line 374, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListHeader ul li:nth-child(2) {
            width: 21.24%; }
          /* line 377, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListHeader ul li:nth-child(3) {
            width: 20.28%; }
          /* line 380, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListHeader ul li:nth-child(4) {
            width: 21.72%; }
          /* line 383, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListHeader ul li:nth-child(5) {
            width: 11.59%; }
        /* line 388, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableHeader {
          font-family: "workSans-regular";
          font-size: 13px;
          color: #bac8d6;
          border-top: 1px solid #dce7f2;
          border-bottom: 1px solid #dce7f2;
          float: left;
          margin-top: 25px;
          padding: 10px 0; }
          /* line 398, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableHeader ul li {
            float: left; }
          /* line 401, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableHeader ul li:nth-child(1) {
            width: 23.63%; }
          /* line 404, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableHeader ul li:nth-child(2) {
            width: 12.8%; }
          /* line 407, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableHeader ul li:nth-child(3) {
            width: 11.82%; }
          /* line 410, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableHeader ul li:nth-child(4) {
            width: 17.2%; }
          /* line 413, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableHeader ul li:nth-child(5) {
            width: 27.07%; }
          /* line 416, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableHeader ul li:nth-child(6) {
            width: 7.4%;
            text-align: right; }
        /* line 422, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody {
          float: left;
          height: 150px;
          max-height: 150px;
          overflow-y: auto; }
          /* line 427, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow {
            float: left;
            width: 100%;
            font-family: "futura-medium";
            font-size: 13px;
            color: #6b7a84;
            border-bottom: 1px solid #dce7f2;
            cursor: pointer; }
            /* line 436, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
            .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li {
              float: left;
              line-height: 45px;
              vertical-align: middle;
              text-align: left; }
              /* line 441, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
              .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li .highPriority {
                font-size: 18px;
                vertical-align: sub;
                margin-right: 3px;
                margin-left: 3px;
                color: #f92a58; }
              /* line 448, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
              .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li .normalPriority {
                font-size: 18px;
                vertical-align: sub;
                margin-right: 3px;
                margin-left: 3px;
                color: #19ccc7; }
            /* line 456, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
            .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li.taskNameColumn {
              width: 23.63%; }
            /* line 459, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
            .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li.assignedToColumn {
              width: 12.8%; }
              /* line 461, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
              .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li.assignedToColumn button {
                width: 64px;
                background: #d9e5ff;
                border: none;
                outline: none;
                text-align: center;
                font-family: "workSans-regular";
                font-size: 14px;
                color: #558bff;
                border-radius: 4px;
                height: 25px;
                line-height: 25px;
                cursor: pointer;
                font-size: 12px; }
            /* line 467, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
            .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li.statusColumn {
              width: 11.82%; }
            /* line 470, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
            .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li.dueDateColumn {
              width: 17.2%; }
              /* line 472, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
              .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li.dueDateColumn span {
                float: left; }
                /* line 474, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
                .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li.dueDateColumn span svg {
                  top: 6px;
                  position: relative; }
            /* line 480, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
            .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li.associationsColumn {
              width: 27.07%; }
            /* line 483, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
            .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li.actionsColumn {
              width: 7.4%;
              text-align: center; }
              /* line 486, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
              .casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li.actionsColumn i {
                color: #558bff;
                vertical-align: middle;
                left: 12px;
                position: relative; }
  /* line 499, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
  .casefileContainer .caseDetailsTabContainer {
    padding: 20px 28px; }
    /* line 501, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
    .casefileContainer .caseDetailsTabContainer .caseDetailsHeader {
      display: inline-block; }
      /* line 503, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .caseDetailsTabContainer .caseDetailsHeader h6 {
        float: left;
        font-size: 16px;
        font-family: "workSans-regular"; }
      /* line 508, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .caseDetailsTabContainer .caseDetailsHeader button {
        float: right; }
      /* line 511, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .caseDetailsTabContainer .caseDetailsHeader button.cancelBtn {
        margin-right: 15px; }
    /* line 515, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
    .casefileContainer .caseDetailsTabContainer .caseDetailsFormContainer, .casefileContainer .caseDetailsTabContainer .caseDataFormContainer {
      font-family: "workSans-regular";
      font-size: 14px;
      margin-top: 20px;
      margin-bottom: 30px; }
      /* line 521, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .caseDetailsTabContainer .caseDetailsFormContainer form .form-group, .casefileContainer .caseDetailsTabContainer .caseDataFormContainer form .form-group {
        padding: 0; }
        /* line 523, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .caseDetailsTabContainer .caseDetailsFormContainer form .form-group .col3layoutInput, .casefileContainer .caseDetailsTabContainer .caseDataFormContainer form .form-group .col3layoutInput {
          width: 97%; }
      /* line 527, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .caseDetailsTabContainer .caseDetailsFormContainer form .form-group.col-itm-2, .casefileContainer .caseDetailsTabContainer .caseDataFormContainer form .form-group.col-itm-2 {
        left: 5px; }
      /* line 530, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .caseDetailsTabContainer .caseDetailsFormContainer form .form-group.col-itm-3, .casefileContainer .caseDetailsTabContainer .caseDataFormContainer form .form-group.col-itm-3 {
        left: 10px; }
        /* line 532, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .caseDetailsTabContainer .caseDetailsFormContainer form .form-group.col-itm-3 .addTeamMemberInput, .casefileContainer .caseDetailsTabContainer .caseDataFormContainer form .form-group.col-itm-3 .addTeamMemberInput {
          float: left;
          width: 84.1%; }
        /* line 536, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .caseDetailsTabContainer .caseDetailsFormContainer form .form-group.col-itm-3 .caseMembersTagsArea, .casefileContainer .caseDetailsTabContainer .caseDataFormContainer form .form-group.col-itm-3 .caseMembersTagsArea {
          position: absolute;
          top: 27px;
          width: 100%;
          padding-right: 20px; }
          /* line 541, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .caseDetailsTabContainer .caseDetailsFormContainer form .form-group.col-itm-3 .caseMembersTagsArea .caseMembersTags, .casefileContainer .caseDetailsTabContainer .caseDataFormContainer form .form-group.col-itm-3 .caseMembersTagsArea .caseMembersTags {
            position: relative;
            top: 0; }
        /* line 546, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .caseDetailsTabContainer .caseDetailsFormContainer form .form-group.col-itm-3 .addTeamMemberBtn, .casefileContainer .caseDetailsTabContainer .caseDataFormContainer form .form-group.col-itm-3 .addTeamMemberBtn {
          background: #558bff;
          border: none;
          outline: none;
          text-align: center;
          font-family: "workSans-regular";
          font-size: 14px;
          color: #fff;
          border-radius: 4px;
          height: 25px;
          line-height: 25px;
          cursor: pointer;
          width: 30px;
          height: 30px;
          float: right;
          display: inline-grid;
          margin-right: 11px;
          margin-top: 3px; }
      /* line 556, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .caseDetailsTabContainer .caseDetailsFormContainer form label, .casefileContainer .caseDetailsTabContainer .caseDataFormContainer form label {
        font-family: "workSans-regular";
        font-size: 14px;
        color: #9fb1bd; }
      /* line 561, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .caseDetailsTabContainer .caseDetailsFormContainer form input, .casefileContainer .caseDetailsTabContainer .caseDetailsFormContainer form select, .casefileContainer .caseDetailsTabContainer .caseDataFormContainer form input, .casefileContainer .caseDetailsTabContainer .caseDataFormContainer form select {
        padding: 6px;
        font-size: 14px;
        height: 35px;
        color: #6b7a84;
        font-family: "workSans-regular"; }
      /* line 568, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .caseDetailsTabContainer .caseDetailsFormContainer form textarea, .casefileContainer .caseDetailsTabContainer .caseDataFormContainer form textarea {
        height: 150px;
        padding: 6px;
        resize: none;
        font-size: 14px;
        color: #6b7a84;
        font-family: "workSans-regular"; }
      /* line 576, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .caseDetailsTabContainer .caseDetailsFormContainer form .caseMembersTextarea, .casefileContainer .caseDetailsTabContainer .caseDataFormContainer form .caseMembersTextarea {
        height: 100px;
        margin-bottom: 15px; }
      /* line 580, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .caseDetailsTabContainer .caseDetailsFormContainer form .form-row, .casefileContainer .caseDetailsTabContainer .caseDataFormContainer form .form-row {
        margin-bottom: 18px; }
        /* line 582, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
        .casefileContainer .caseDetailsTabContainer .caseDetailsFormContainer form .form-row .input-group-addon, .casefileContainer .caseDetailsTabContainer .caseDataFormContainer form .form-row .input-group-addon {
          background: none;
          border: none;
          position: absolute;
          right: 12px;
          top: 24px; }
          /* line 588, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
          .casefileContainer .caseDetailsTabContainer .caseDetailsFormContainer form .form-row .input-group-addon svg, .casefileContainer .caseDetailsTabContainer .caseDataFormContainer form .form-row .input-group-addon svg {
            width: 30px;
            height: 30px; }
            /* line 591, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
            .casefileContainer .caseDetailsTabContainer .caseDetailsFormContainer form .form-row .input-group-addon svg path, .casefileContainer .caseDetailsTabContainer .caseDataFormContainer form .form-row .input-group-addon svg path {
              fill: #bac8d6; }
      /* line 597, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .caseDetailsTabContainer .caseDetailsFormContainer form .tagChip, .casefileContainer .caseDetailsTabContainer .caseDataFormContainer form .tagChip {
        margin-top: 2px;
        margin-left: -2px; }
      /* line 602, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .caseDetailsTabContainer .caseDetailsFormContainer .caseDataTextarea, .casefileContainer .caseDetailsTabContainer .caseDataFormContainer .caseDataTextarea {
        width: 100%; }
      /* line 605, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
      .casefileContainer .caseDetailsTabContainer .caseDetailsFormContainer .uploadCaseDataBtn, .casefileContainer .caseDetailsTabContainer .caseDataFormContainer .uploadCaseDataBtn {
        right: 8px;
        bottom: 8px;
        position: absolute;
        width: 64px;
        background: #d9e5ff;
        border: none;
        outline: none;
        text-align: center;
        font-family: "workSans-regular";
        font-size: 14px;
        color: #558bff;
        border-radius: 4px;
        height: 25px;
        line-height: 25px;
        cursor: pointer;
        font-size: 12px; }

/* line 616, B:/Co/Corrus-Prototype/src/app/case-file-dashboard/case-file-dashboard.component.scss */
.appSidebar {
  width: 356px;
  height: 100%;
  border-left: 2px solid #dce7f2;
  position: fixed;
  right: 0;
  background: #fff; }

/*# sourceMappingURL=case-file-dashboard.component.css.map */