/* Author: Himanshu Kumar */
@import '../styles.scss';
header{
    height: 80px;
    position: fixed;
    width: 100%;
    padding: 0 12px;
    line-height: 80px;
    top: 0;
    left: 0;
    z-index: 2;
    img{
        height: 30px;
        width: 75px;
        cursor: pointer !important;
    }
    .headerItemsContainer{
        float:right;
        width: 495px;
        font-family: $font-workSans-regular;
        ul{
            li{
                display: table-cell;
                margin-right: 25px;
                float: left;                
                i{
                    vertical-align: middle;
                }
                svg{
                    height: 30px;
                    vertical-align: middle;
                    fill: $blue;
                }
                .workspaceSelector{
                    font-size: 14px;
                    margin-left: -2px;
                    color: $grey3;
                    cursor: pointer;
                }
                .notificationBell{
                    font-size: 30px;
                    color: $blue;
                    cursor: pointer;
                }
                span{
                    vertical-align: middle;
                }
                .verticlePipe{
                    display: inline-block;
                    height: 32px;
                    width:1px;
                    border: 1px solid $grey2;
                }
                .workSpaceName{
                    background: transparent;
                    border: none;
                    outline: none;
                    font-size: 14px;
                    color: $grey3;          
                    position: relative; 
                    .appCustomDropdown{
                        right: -18px;
                        margin-top: -20px;
                    }             
                }
                .createCaseBtn{
                    @extend .themeButton;
                    width: 115px;

                }
                .notificationCount{
                    background: $red;
                    color: #fff;
                    @include circularElement(16px);
                    display: inline-block;
                    position: absolute;
                    top: 20px;
                    margin-left: 22px;
                    font-size: 12px;
                }
            }
            li:last-child{
                float: right;
                margin-right: 0;
            }
        }
    }
}
.userProfileDropdown{
    position: absolute;
    height: auto;
    width:auto;
    border: 1px solid $blue;
    z-index: 4;
    background: #fff;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 10px;
    border-radius: 4px;
    margin-top: 10px;
    ul{
        li{
            display: block !important;
            float: none !important;
            cursor: pointer;
            a{
                color: $grey4;
                padding-left: 10px;
                padding-right: 20px;
                cursor: pointer;
                font-family: $font-workSans-regular;
            }
        }
        li:hover{
            a{
                color: $blue;
                text-decoration: none;
            }
        }
    }
}
.appNavbar{
    background: linear-gradient(to right, $blue, $purple);
    width: 100%;
    padding: 10px 12px;
    position: fixed;
    top: 80px;
    .navbar-brand{
        color: #fff !important;
        font-size:16px;
        font-family: $font-workSans-regular;
        i{
            float: left;
            margin-right: 5px;
            cursor: pointer;
        }
    }
    .form-inline{
        .input-group-addon{
            border: none;
            background: $headerSearchBackgroundColor;
            color: #fff;
            padding-left: 3px;
        }
    }
    input{
        height: 25px;
        width: 316px;
        background: $headerSearchBackgroundColor;
        padding: 10px;
        border-left: none;
        border-color: $headerSearchBackgroundColor;
        color: #fff;
    
    }
    i.searchIcon{
        svg{
            height: 12px !important;
            width:12px !important;
            fill:#fff !important;
        }                
    }
}

.appContainer{
    position: relative;
    top: 125px;
    overflow: auto;
}

