/* Author: Himanshu Kumar */
/* You can add global styles to this file, and also import other style files */
/* Color Pallet */
@font-face {
  font-family: 'workSans-medium';
  src: url("/assets/fonts/WorkSans-Medium.otf") format("opentype"); }

@font-face {
  font-family: 'workSans-bold';
  src: url("/assets/fonts/WorkSans-Bold.otf") format("opentype"); }

@font-face {
  font-family: 'workSans-semiBold';
  src: url("/assets/fonts/WorkSans-SemiBold.otf") format("opentype"); }

@font-face {
  font-family: 'workSans-regular';
  src: url("/assets/fonts/WorkSans-Regular.otf") format("opentype"); }

@font-face {
  font-family: 'futura-medium';
  src: url("/assets/fonts/Futura-Medium.otf") format("opentype"); }

@font-face {
  font-family: 'futura-book';
  src: url("/assets/fonts/Futura-Book-Regular.otf") format("opentype"); }

/* line 82, B:/Co/Corrus-Prototype/src/styles.scss */
.themeButton, header .headerItemsContainer ul li .createCaseBtn {
  background: #8170ff;
  border: none;
  outline: none;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  height: 25px;
  line-height: 25px;
  cursor: pointer; }

/* line 95, B:/Co/Corrus-Prototype/src/styles.scss */
* {
  padding: 0;
  margin: 0; }

/* line 100, B:/Co/Corrus-Prototype/src/styles.scss */
body {
  font-family: workSans-medium !important;
  overflow-y: hidden; }

/* line 104, B:/Co/Corrus-Prototype/src/styles.scss */
ul {
  list-style: none; }

/* line 107, B:/Co/Corrus-Prototype/src/styles.scss */
.userDefaultAvatar {
  display: inline-block;
  font-size: 13px;
  background: rgba(25, 204, 199, 0.3);
  color: #19ccc7;
  text-align: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 30px;
  cursor: pointer; }

/* line 115, B:/Co/Corrus-Prototype/src/styles.scss */
.userAvatarColor1 {
  color: #ff7155;
  background: rgba(255, 113, 85, 0.3); }

/* line 119, B:/Co/Corrus-Prototype/src/styles.scss */
.userAvatarColor2 {
  color: #ffc756;
  background: rgba(255, 199, 86, 0.3); }

/* line 123, B:/Co/Corrus-Prototype/src/styles.scss */
.userAvatarColor3 {
  color: #f92a58;
  background: rgba(249, 42, 88, 0.3); }

/* line 127, B:/Co/Corrus-Prototype/src/styles.scss */
.nextNavigationControl {
  text-align: center; }
  /* line 129, B:/Co/Corrus-Prototype/src/styles.scss */
  .nextNavigationControl ul {
    cursor: pointer; }
    /* line 131, B:/Co/Corrus-Prototype/src/styles.scss */
    .nextNavigationControl ul li {
      display: inline-block; }
      /* line 133, B:/Co/Corrus-Prototype/src/styles.scss */
      .nextNavigationControl ul li span {
        text-align: center;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        line-height: 16px;
        text-align: center;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        line-height: 16px;
        background: #558bff;
        color: #fff;
        display: inline-block;
        top: -2px;
        position: relative;
        vertical-align: middle; }
        /* line 146, B:/Co/Corrus-Prototype/src/styles.scss */
        .nextNavigationControl ul li span i {
          font-size: 16px; }
    /* line 151, B:/Co/Corrus-Prototype/src/styles.scss */
    .nextNavigationControl ul li:last-child {
      color: #558bff; }

/* line 156, B:/Co/Corrus-Prototype/src/styles.scss */
.helpIcon {
  height: 14px;
  width: 14px;
  position: relative; }

/* line 161, B:/Co/Corrus-Prototype/src/styles.scss */
#helpIcon {
  position: relative;
  height: 14px;
  width: 14px;
  bottom: 3px;
  cursor: pointer; }

/* line 169, B:/Co/Corrus-Prototype/src/styles.scss */
#helpIcon:hover .hoverHelpBox {
  display: block; }

/* line 173, B:/Co/Corrus-Prototype/src/styles.scss */
.hoverHelpBox {
  position: absolute;
  width: 250px;
  height: auto;
  background: #ffe3dd;
  color: #ff7155;
  font-size: 13px;
  font-family: "workSans-regular";
  bottom: 25px;
  left: -100px;
  padding: 10px;
  font-style: normal;
  border-radius: 4px;
  border: 1px solid #ff7155;
  box-shadow: 3px 3px 8px #e0e0e0;
  display: none; }
  /* line 189, B:/Co/Corrus-Prototype/src/styles.scss */
  .hoverHelpBox .carret {
    position: absolute;
    bottom: -18px;
    left: 91px;
    font-size: 30px;
    color: #ff7155; }

/* line 197, B:/Co/Corrus-Prototype/src/styles.scss */
.tagChip {
  position: absolute;
  top: 26px;
  display: inline-block;
  background: #23a9db;
  height: 25px;
  border-radius: 4px;
  line-height: 25px;
  color: #fff;
  font-size: 13px;
  padding: 0px 6px;
  left: 10px;
  font-family: "workSans-regular"; }
  /* line 210, B:/Co/Corrus-Prototype/src/styles.scss */
  .tagChip svg {
    fill: #fff;
    height: 10px;
    width: 10px;
    margin-left: 6px;
    text-align: left;
    cursor: pointer; }

/* line 220, B:/Co/Corrus-Prototype/src/styles.scss */
.tagChip2 {
  display: inline-block;
  background: #23a9db;
  height: 25px;
  border-radius: 4px;
  line-height: 25px;
  color: #fff;
  font-size: 13px;
  padding: 0px 6px;
  left: 10px;
  font-family: "workSans-regular";
  margin-top: 4px;
  margin-right: 8px; }
  /* line 233, B:/Co/Corrus-Prototype/src/styles.scss */
  .tagChip2 svg {
    fill: #fff;
    height: 10px;
    width: 10px;
    margin-left: 6px;
    text-align: left;
    cursor: pointer; }

/* line 242, B:/Co/Corrus-Prototype/src/styles.scss */
.caseMembersChips {
  display: inline-block;
  background: #8170ff;
  height: 25px;
  border-radius: 4px;
  line-height: 25px;
  color: #fff;
  font-size: 13px;
  padding: 0px 6px;
  left: 10px;
  font-family: "workSans-regular";
  margin-top: 4px;
  margin-right: 8px; }
  /* line 255, B:/Co/Corrus-Prototype/src/styles.scss */
  .caseMembersChips svg {
    fill: #fff;
    height: 10px;
    width: 10px;
    margin-left: 6px;
    text-align: left;
    cursor: pointer; }

/* line 264, B:/Co/Corrus-Prototype/src/styles.scss */
.inlineListUl {
  width: 100%;
  float: left; }
  /* line 267, B:/Co/Corrus-Prototype/src/styles.scss */
  .inlineListUl .inlineListLi {
    float: left; }

/* line 272, B:/Co/Corrus-Prototype/src/styles.scss */
.toggleSwitch {
  border: 1px solid #9fb1bd;
  width: 35px;
  height: 20px;
  float: left;
  border-radius: 15px;
  padding: 1px 2px;
  margin-right: 5px; }
  /* line 280, B:/Co/Corrus-Prototype/src/styles.scss */
  .toggleSwitch .switchBall {
    width: 15px;
    height: 15px;
    float: left;
    border-radius: 50%;
    background: #9fb1bd;
    vertical-align: middle; }

/* line 290, B:/Co/Corrus-Prototype/src/styles.scss */
.calendarIcon svg {
  width: 30px;
  height: 30px; }
  /* line 293, B:/Co/Corrus-Prototype/src/styles.scss */
  .calendarIcon svg path {
    fill: #bac8d6; }

/* line 298, B:/Co/Corrus-Prototype/src/styles.scss */
.associationsTag {
  font-size: 12px;
  display: inline-block;
  color: #ff7155;
  background: #ffe3dd;
  border-radius: 5px;
  height: 18px;
  line-height: 18px;
  padding: 0 10px;
  margin-right: 5px; }

/* line 309, B:/Co/Corrus-Prototype/src/styles.scss */
.saveBtn {
  background: #558bff;
  border: none;
  outline: none;
  text-align: center;
  font-family: "workSans-regular";
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  width: 64px; }

/* line 313, B:/Co/Corrus-Prototype/src/styles.scss */
.cancelBtn {
  background: #fff;
  border: none;
  outline: none;
  text-align: center;
  font-family: "workSans-regular";
  font-size: 14px;
  color: #558bff;
  border-radius: 4px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  width: 64px; }

/* line 317, B:/Co/Corrus-Prototype/src/styles.scss */
.bx-wrapper {
  background: #eef4fa !important;
  border: 5px solid #eef4fa !important;
  height: 109px; }
  /* line 321, B:/Co/Corrus-Prototype/src/styles.scss */
  .bx-wrapper .bx-viewport {
    height: 109px; }
  /* line 324, B:/Co/Corrus-Prototype/src/styles.scss */
  .bx-wrapper .bx-pager.bx-default-pager a {
    background: #dce7f2;
    height: 9px;
    width: 9px; }
  /* line 329, B:/Co/Corrus-Prototype/src/styles.scss */
  .bx-wrapper .bx-pager.bx-default-pager a.active {
    background: #558bff; }
  /* line 332, B:/Co/Corrus-Prototype/src/styles.scss */
  .bx-wrapper .bx-prev {
    left: 10px;
    background: url(/assets/img/previous.svg) left center no-repeat !important; }
  /* line 336, B:/Co/Corrus-Prototype/src/styles.scss */
  .bx-wrapper .bx-next {
    right: 10px;
    background: url(/assets/img/next.svg) right center no-repeat !important; }

/* Scrollbar */
/* line 343, B:/Co/Corrus-Prototype/src/styles.scss */
::-webkit-scrollbar {
  width: 8px; }

/* Track */
/* line 348, B:/Co/Corrus-Prototype/src/styles.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/* Handle */
/* line 355, B:/Co/Corrus-Prototype/src/styles.scss */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #bac8d6;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

/* line 362, B:/Co/Corrus-Prototype/src/styles.scss */
::-webkit-scrollbar-thumb:window-inactive {
  background: transparent; }

/* line 365, B:/Co/Corrus-Prototype/src/styles.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px;
  color: #bac8d6; }

/* line 369, B:/Co/Corrus-Prototype/src/styles.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  color: #bac8d6; }

/* line 373, B:/Co/Corrus-Prototype/src/styles.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px;
  color: #bac8d6; }

/* line 377, B:/Co/Corrus-Prototype/src/styles.scss */
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
  color: #bac8d6; }

/* line 3, B:/Co/Corrus-Prototype/src/app/app.component.scss */
header {
  height: 80px;
  position: fixed;
  width: 100%;
  padding: 0 12px;
  line-height: 80px;
  top: 0;
  left: 0;
  z-index: 2; }
  /* line 12, B:/Co/Corrus-Prototype/src/app/app.component.scss */
  header img {
    height: 30px;
    width: 75px;
    cursor: pointer !important; }
  /* line 17, B:/Co/Corrus-Prototype/src/app/app.component.scss */
  header .headerItemsContainer {
    float: right;
    width: 495px;
    font-family: "workSans-regular"; }
    /* line 22, B:/Co/Corrus-Prototype/src/app/app.component.scss */
    header .headerItemsContainer ul li {
      display: table-cell;
      margin-right: 25px;
      float: left; }
      /* line 26, B:/Co/Corrus-Prototype/src/app/app.component.scss */
      header .headerItemsContainer ul li i {
        vertical-align: middle; }
      /* line 29, B:/Co/Corrus-Prototype/src/app/app.component.scss */
      header .headerItemsContainer ul li svg {
        height: 30px;
        vertical-align: middle;
        fill: #558bff; }
      /* line 34, B:/Co/Corrus-Prototype/src/app/app.component.scss */
      header .headerItemsContainer ul li .workspaceSelector {
        font-size: 14px;
        margin-left: -2px;
        color: #bac8d6;
        cursor: pointer; }
      /* line 40, B:/Co/Corrus-Prototype/src/app/app.component.scss */
      header .headerItemsContainer ul li .notificationBell {
        font-size: 30px;
        color: #558bff;
        cursor: pointer; }
      /* line 45, B:/Co/Corrus-Prototype/src/app/app.component.scss */
      header .headerItemsContainer ul li span {
        vertical-align: middle; }
      /* line 48, B:/Co/Corrus-Prototype/src/app/app.component.scss */
      header .headerItemsContainer ul li .verticlePipe {
        display: inline-block;
        height: 32px;
        width: 1px;
        border: 1px solid #dce7f2; }
      /* line 54, B:/Co/Corrus-Prototype/src/app/app.component.scss */
      header .headerItemsContainer ul li .workSpaceName {
        background: transparent;
        border: none;
        outline: none;
        font-size: 14px;
        color: #bac8d6; }
      /* line 61, B:/Co/Corrus-Prototype/src/app/app.component.scss */
      header .headerItemsContainer ul li .createCaseBtn {
        width: 115px; }
    /* line 67, B:/Co/Corrus-Prototype/src/app/app.component.scss */
    header .headerItemsContainer ul li:last-child {
      float: right;
      margin-right: 0; }

/* line 74, B:/Co/Corrus-Prototype/src/app/app.component.scss */
.userProfileDropdown {
  position: absolute;
  height: auto;
  width: auto;
  border: 1px solid #558bff;
  z-index: 4;
  background: #fff;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 4px;
  margin-top: 10px; }
  /* line 87, B:/Co/Corrus-Prototype/src/app/app.component.scss */
  .userProfileDropdown ul li {
    display: block !important;
    float: none !important;
    cursor: pointer; }
    /* line 91, B:/Co/Corrus-Prototype/src/app/app.component.scss */
    .userProfileDropdown ul li a {
      color: #9fb1bd;
      padding-left: 10px;
      padding-right: 20px;
      cursor: pointer;
      font-family: "workSans-regular"; }
  /* line 100, B:/Co/Corrus-Prototype/src/app/app.component.scss */
  .userProfileDropdown ul li:hover a {
    color: #558bff;
    text-decoration: none; }

/* line 107, B:/Co/Corrus-Prototype/src/app/app.component.scss */
.appNavbar {
  background: linear-gradient(to right, #558bff, #8170ff);
  width: 100%;
  padding: 10px 12px;
  position: fixed;
  top: 80px; }
  /* line 113, B:/Co/Corrus-Prototype/src/app/app.component.scss */
  .appNavbar .navbar-brand {
    color: #fff !important;
    font-size: 16px;
    font-family: "workSans-regular"; }
    /* line 117, B:/Co/Corrus-Prototype/src/app/app.component.scss */
    .appNavbar .navbar-brand i {
      float: left;
      margin-right: 5px;
      cursor: pointer; }
  /* line 124, B:/Co/Corrus-Prototype/src/app/app.component.scss */
  .appNavbar .form-inline .input-group-addon {
    border: none;
    background: #9491ff;
    color: #fff;
    padding-left: 3px; }
  /* line 131, B:/Co/Corrus-Prototype/src/app/app.component.scss */
  .appNavbar input {
    height: 25px;
    width: 316px;
    background: #9491ff;
    padding: 10px;
    border-left: none;
    border-color: #9491ff;
    color: #fff; }
  /* line 142, B:/Co/Corrus-Prototype/src/app/app.component.scss */
  .appNavbar i.searchIcon svg {
    height: 12px !important;
    width: 12px !important;
    fill: #fff !important; }

/* line 150, B:/Co/Corrus-Prototype/src/app/app.component.scss */
.appContainer {
  position: relative;
  top: 125px;
  overflow: auto; }

/*# sourceMappingURL=app.component.css.map */