<header>
  <img src = "assets/img/logo.png" draggable="false" (click)="gotoDashboard()">
  <div class = "headerItemsContainer">
    <ul>
      <li>
        <!-- <i class="material-icons notificationBell">notifications_none</i> -->
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>notifications_icon@1x</title><g id="art"><path d="M24.89453,22.55273C24.16211,21.08789,23,18.28516,23,17V13a6.69872,6.69872,0,0,0-5.53613-6.75781,2.84438,2.84438,0,0,0,.41113-1.458,2.875,2.875,0,0,0-5.75,0,2.84438,2.84438,0,0,0,.41113,1.458A6.69872,6.69872,0,0,0,7,13v4c0,1.44434-1.36768,4.498-1.89453,5.55273A1.0001,1.0001,0,0,0,6,24h6v1a3,3,0,0,0,6,0V24h6a1.0001,1.0001,0,0,0,.89453-1.44727ZM15,3.49191a1.25842,1.25842,0,0,1,1.29227,1.29227A1.29227,1.29227,0,1,1,15,3.49191ZM16,25.34a1,1,0,1,1-2,0V24h2ZM15,22H7.56543A15.24745,15.24745,0,0,0,9,17V13c0-1.50342.585-5,6-5s6,3.49658,6,5v4a15.24745,15.24745,0,0,0,1.43457,5Zm3-2a1,1,0,0,1-1-1V13a1,1,0,0,1,2,0v6A1,1,0,0,1,18,20Z"/></g></svg>
      </li>
      <li>
        <span class = "userDefaultAvatar">HK</span>
        <i class="material-icons md-18 workspaceSelector">expand_more</i>
      </li>
      <li>
        <span class = "verticlePipe"></span>
      </li>
      <li>
        <button class = "workSpaceName">My Workspace <i class="material-icons md-18 workspaceSelector">expand_more</i></button>
      </li>
      <li>
        <button class = "createCaseBtn">Create Case</button>
      </li>
    </ul>
  </div>
</header>
<nav class="navbar appNavbar justify-content-between">
  <a class="navbar-brand" >Welcome to your Dashboard - All your cases will be displayed here</a>
  <form class="form-inline">
    <!-- <input class="form-control mr-sm-2" type="text" aria-label="Search"> -->
    <div class="input-group">
      <span class="input-group-addon "><i class="material-icons">search</i></span>
      <input type="text" class="form-control">
    </div>
  </form>
</nav>
<div class = "container-fluid appContainer">
    <router-outlet></router-outlet>
</div>

