/* You can add global styles to this file, and also import other style files */
/* Color Pallet */
@font-face {
  font-family: 'workSans-medium';
  src: url("/assets/fonts/WorkSans-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'workSans-bold';
  src: url("/assets/fonts/WorkSans-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'workSans-semiBold';
  src: url("/assets/fonts/WorkSans-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: 'workSans-regular';
  src: url("/assets/fonts/WorkSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'futura-medium';
  src: url("/assets/fonts/Futura-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'futura-book';
  src: url("/assets/fonts/Futura-Book-Regular.otf") format("opentype");
}

.themeButton {
  background: #8170ff;
  border: none;
  outline: none;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: workSans-medium !important;
  overflow-y: hidden;
}

ul {
  list-style: none;
}

.userDefaultAvatar {
  display: inline-block;
  font-size: 13px;
  background: rgba(25, 204, 199, 0.3);
  color: #19ccc7;
  text-align: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 30px;
  cursor: pointer;
}

.userAvatarColor1 {
  color: #ff7155;
  background: rgba(255, 113, 85, 0.3);
}

.userAvatarColor2 {
  color: #ffc756;
  background: rgba(255, 199, 86, 0.3);
}

.userAvatarColor3 {
  color: #f92a58;
  background: rgba(249, 42, 88, 0.3);
}

.nextNavigationControl {
  text-align: center;
}

.nextNavigationControl ul {
  cursor: pointer;
}

.nextNavigationControl ul li {
  display: inline-block;
}

.nextNavigationControl ul li span {
  text-align: center;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  line-height: 16px;
  background: #558bff;
  color: #fff;
  display: inline-block;
  top: -2px;
  position: relative;
  vertical-align: middle;
}

.nextNavigationControl ul li span i {
  font-size: 16px;
}

.nextNavigationControl ul li:last-child {
  color: #558bff;
}

.helpIcon {
  height: 14px;
  width: 14px;
  position: relative;
}

#helpIcon {
  position: relative;
  height: 14px;
  width: 14px;
  bottom: 3px;
  cursor: pointer;
}

#helpIcon:hover .hoverHelpBox {
  display: block;
}

.hoverHelpBox {
  position: absolute;
  width: 250px;
  height: auto;
  background: #ffe3dd;
  color: #ff7155;
  font-size: 13px;
  font-family: "workSans-regular";
  bottom: 25px;
  left: -100px;
  padding: 10px;
  font-style: normal;
  border-radius: 4px;
  border: 1px solid #ff7155;
  box-shadow: 3px 3px 8px #e0e0e0;
  display: none;
}

.hoverHelpBox .carret {
  position: absolute;
  bottom: -18px;
  left: 91px;
  font-size: 30px;
  color: #ff7155;
}

.tagChip {
  position: absolute;
  top: 26px;
  display: inline-block;
  background: #23a9db;
  height: 25px;
  border-radius: 4px;
  line-height: 25px;
  color: #fff;
  font-size: 13px;
  padding: 0px 6px;
  left: 10px;
  font-family: "workSans-regular";
}

.tagChip svg {
  fill: #fff;
  height: 10px;
  width: 10px;
  margin-left: 6px;
  text-align: left;
  cursor: pointer;
}

.tagChip2 {
  display: inline-block;
  background: #23a9db;
  height: 25px;
  border-radius: 4px;
  line-height: 25px;
  color: #fff;
  font-size: 13px;
  padding: 0px 6px;
  left: 10px;
  font-family: "workSans-regular";
  margin-top: 4px;
  margin-right: 8px;
}

.tagChip2 svg {
  fill: #fff;
  height: 10px;
  width: 10px;
  margin-left: 6px;
  text-align: left;
  cursor: pointer;
}

.caseMembersChips {
  display: inline-block;
  background: #8170ff;
  height: 25px;
  border-radius: 4px;
  line-height: 25px;
  color: #fff;
  font-size: 13px;
  padding: 0px 6px;
  left: 10px;
  font-family: "workSans-regular";
  margin-top: 4px;
  margin-right: 8px;
}

.caseMembersChips svg {
  fill: #fff;
  height: 10px;
  width: 10px;
  margin-left: 6px;
  text-align: left;
  cursor: pointer;
}

.inlineListUl {
  width: 100%;
  float: left;
}

.inlineListUl .inlineListLi {
  float: left;
}

.toggleSwitch {
  border: 1px solid #9fb1bd;
  width: 35px;
  height: 20px;
  float: left;
  border-radius: 15px;
  padding: 1px 2px;
  margin-right: 5px;
}

.toggleSwitch .switchBall {
  width: 15px;
  height: 15px;
  float: left;
  border-radius: 50%;
  background: #9fb1bd;
  vertical-align: middle;
}

.calendarIcon svg {
  width: 30px;
  height: 30px;
}

.calendarIcon svg path {
  fill: #bac8d6;
}

.associationsTag {
  font-size: 12px;
  display: inline-block;
  color: #ff7155;
  background: #ffe3dd;
  border-radius: 5px;
  height: 18px;
  line-height: 18px;
  padding: 0 10px;
  margin-right: 5px;
}

.saveBtn {
  background: #558bff;
  border: none;
  outline: none;
  text-align: center;
  font-family: "workSans-regular";
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  width: 64px;
}

.cancelBtn {
  background: #fff;
  border: none;
  outline: none;
  text-align: center;
  font-family: "workSans-regular";
  font-size: 14px;
  color: #558bff;
  border-radius: 4px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  width: 64px;
}

.bx-wrapper {
  background: #eef4fa !important;
  border: 5px solid #eef4fa !important;
  height: 109px;
}

.bx-wrapper .bx-viewport {
  height: 109px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #dce7f2;
  height: 9px;
  width: 9px;
}

.bx-wrapper .bx-pager.bx-default-pager a.active {
  background: #558bff;
}

.bx-wrapper .bx-prev {
  left: 10px;
  background: url(/assets/img/previous.svg) left center no-repeat !important;
}

.bx-wrapper .bx-next {
  right: 10px;
  background: url(/assets/img/next.svg) right center no-repeat !important;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #bac8d6;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: transparent;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px;
  font-family: "workSans-regular";
  color: #bac8d6;
}

::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  font-family: "workSans-regular";
  color: #bac8d6;
}

:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px;
  font-family: "workSans-regular";
  color: #bac8d6;
}

:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
  font-family: "workSans-regular";
  color: #bac8d6;
}

.activityStreamContainer .taskStreamHeader {
  height: 48px;
  position: fixed;
  width: 342px;
  background: #ecf3fa;
  color: #6b7a84;
  line-height: 48px;
  padding-left: 12px;
  left: 12px;
}

.activityStreamContainer .tabHeader {
  height: 48px;
  position: fixed;
  width: 355px;
}

.activityStreamContainer .tabHeader ul li {
  float: left;
  text-align: center;
  background: #ecf3fa;
  height: 48px;
  color: #9fb1bd;
  line-height: 48px;
  font-size: 14px;
  font-family: "workSans-regular";
  cursor: pointer;
}

.activityStreamContainer .tabHeader ul li span {
  display: inline-block;
}

.activityStreamContainer .tabHeader ul li svg {
  fill: #9fb1bd;
  height: 14px;
  width: 14px;
  vertical-align: sub;
}

.activityStreamContainer .tabHeader ul li .expand {
  border: none;
  outline: none;
  text-align: center;
  cursor: pointer;
  background: #9fb1bd;
  height: 15px;
  width: 15px;
  line-height: 15px;
  position: absolute;
  top: 0;
  right: 0;
}

.activityStreamContainer .tabHeader ul li .expand i {
  font-size: 11px;
  color: #fff;
}

.activityStreamContainer .tabHeader ul li.active {
  color: #558bff;
  background: #fff;
}

.activityStreamContainer .tabHeader ul li:first-child {
  width: 165px;
}

.activityStreamContainer .tabHeader ul li:last-child {
  width: 190px;
}

.activityStreamContainer .activityStreamFooter {
  background: #d9e5ff;
  height: 108px;
  position: fixed;
  bottom: 0;
  width: 355px;
  padding: 15px;
}

.activityStreamContainer .activityStreamFooter .postCommentInput input {
  height: 35px;
  padding: 6px;
  font-family: "workSans-regular";
  font-size: 14px;
}

.activityStreamContainer .activityStreamFooter .postCommentInput input:hover {
  z-index: 0;
}

.activityStreamContainer .activityStreamFooter .postCommentInput input:active {
  border-right: none;
}

.activityStreamContainer .activityStreamFooter .postCommentInput input:focus {
  border-color: rgba(0, 0, 0, 0.15);
}

.activityStreamContainer .activityStreamFooter .postCommentInput button {
  height: 35px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  outline: none;
  border-left: none;
  padding-right: 6px;
  line-height: 38px;
  cursor: pointer;
}

.activityStreamContainer .activityStreamFooter .postCommentInput button svg {
  height: 15px;
  width: 15px;
  fill: #558bff;
  transform: rotate(45deg);
  cursor: pointer;
}

.activityStreamContainer .activityStreamFooter .postCommentInput button:focus, .activityStreamContainer .activityStreamFooter .postCommentInput button:active, .activityStreamContainer .activityStreamFooter .postCommentInput button:hover {
  box-shadow: none;
  outline: none;
}

.activityStreamContainer .activityStreamFooter .postCommentDropdown {
  height: 25px;
  margin-top: 13px;
  width: 254px;
  font-size: 12px;
  font-family: "workSans-regular";
  display: inline-block;
}

.activityStreamContainer .activityStreamFooter .postBtn {
  background: #558bff;
  border: none;
  outline: none;
  text-align: center;
  font-family: "workSans-regular";
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  display: inline-block;
  width: 65px;
}

.activityStreamContainer .taskActivityStreamFooter {
  background: #d9e5ff;
  position: fixed;
  bottom: 0;
  width: 355px;
  padding: 15px;
}

.activityStreamContainer .taskActivityStreamFooter .postCommentInput {
  width: 250px;
  float: left;
  margin-right: 10px;
}

.activityStreamContainer .taskActivityStreamFooter .postCommentInput input {
  height: 35px;
  padding: 6px;
  font-family: "workSans-regular";
  font-size: 14px;
}

.activityStreamContainer .taskActivityStreamFooter .postCommentInput input:hover {
  z-index: 0;
}

.activityStreamContainer .taskActivityStreamFooter .postCommentInput input:active {
  border-right: none;
}

.activityStreamContainer .taskActivityStreamFooter .postCommentInput input:focus {
  border-color: rgba(0, 0, 0, 0.15);
}

.activityStreamContainer .taskActivityStreamFooter .postCommentInput button {
  height: 35px;
  background: #fff;
  border: 1px solid rgba(0, 0, 0, 0.25);
  outline: none;
  border-left: none;
  padding-right: 6px;
  line-height: 38px;
  cursor: pointer;
}

.activityStreamContainer .taskActivityStreamFooter .postCommentInput button svg {
  height: 15px;
  width: 15px;
  fill: #558bff;
  transform: rotate(45deg);
  cursor: pointer;
}

.activityStreamContainer .taskActivityStreamFooter .postCommentInput button:focus, .activityStreamContainer .taskActivityStreamFooter .postCommentInput button:active, .activityStreamContainer .taskActivityStreamFooter .postCommentInput button:hover {
  box-shadow: none;
  outline: none;
}

.activityStreamContainer .taskActivityStreamFooter .postCommentDropdown {
  height: 25px;
  margin-top: 13px;
  width: 254px;
  font-size: 12px;
  font-family: "workSans-regular";
  display: inline-block;
}

.activityStreamContainer .taskActivityStreamFooter .postBtn {
  background: #558bff;
  border: none;
  outline: none;
  text-align: center;
  font-family: "workSans-regular";
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  display: inline-block;
  width: 65px;
  margin-top: 5px;
}

.activityStreamContainer .activityStreamBody {
  padding: 22px;
  position: relative;
  top: 48px;
}

.activityStreamContainer .activityStreamBody .feedBlock {
  border-bottom: 1px solid #dce7f2;
  float: left;
  padding-bottom: 15px;
}

.activityStreamContainer .activityStreamBody .feedBlock ul li {
  float: left;
}

.activityStreamContainer .activityStreamBody .feedBlock ul .leftPart {
  margin-right: 5px;
}

.activityStreamContainer .activityStreamBody .feedBlock ul .rightPart {
  margin-top: 5px;
}

.activityStreamContainer .activityStreamBody .feedBlock ul .rightPart .userName {
  font-size: 12px;
  font-family: "workSans-regular";
  color: #9fb1bd;
}

.activityStreamContainer .activityStreamBody .feedBlock ul .rightPart .timeStampRow {
  font-family: "workSans-semiBold";
  font-size: 14px;
}

.activityStreamContainer .activityStreamBody .feedBlock ul .rightPart .caseNameRow {
  color: #558bff;
  font-family: "workSans-regular";
  font-size: 14px;
  line-height: 14px;
}
 

 /*# sourceMappingURL= activity-stream.component.css.map */