@import '../../styles.scss';
.activityStreamContainer{
    .taskStreamHeader{
        height: 48px;
        position: fixed;
        width: 342px;
        background: #ecf3fa;
        color: $darkGrey;
        line-height: 48px;
        padding-left: 12px;
        left: 12px;
    }
    .tabHeader{
        height: 48px;
        position: fixed;
//        right: 0;
        width: 375px;
        ul{
            li{
                float: left;
                text-align: center;
                background: $grey1;
                height: 48px;
                color: $grey4;
                line-height: 48px;
                font-size: 14px;
                font-family: $font-workSans-regular;
                cursor: pointer;
                span{
                    display: inline-block;
                }
                svg{
                    fill:$grey4;
                    height: 14px;
                    width: 14px;
                    vertical-align: sub;
                }
                .expand{
                    border: none;
                    outline: none;
                    text-align: center;
                    cursor: pointer;
                    background: $grey4;
                    height: 15px;
                    width: 15px;
                    line-height: 15px;
                    position: absolute;
                    top: 0;
                    right: 0;
                    // i{
                    //     font-size: 11px;
                    //     color: #fff;                        
                    // }
                }
            }
            li.active{
                color: $blue;
                background: #fff;
            }
            li:first-child{
                width: 183px;
            }
            li:last-child{
                width: 190px;
            }
        }
    }
    .activityStreamFooter{
        background: $activityStreamFooterBgColor;
        height: 108px;
        position: fixed;
//        right: 0;
        bottom: 0;
        width: 373px;
        padding: 15px;
        .postCommentInput{
            input{
                height: 35px;
                padding: 6px;
                font-family: $font-workSans-regular;
                font-size: 14px;
            }
            input:hover{
                z-index: 0;
            }
            input:active{
                border-right: none;
            }
            input:focus{
                border-color: rgba(0, 0, 0, 0.15);                
            }
            button{
                height: 35px;
                background: #fff;
                border: 1px solid rgba(0, 0, 0, 0.25);
                outline: none;
                border-left: none;
                padding-right: 6px;
                line-height: 38px;
                cursor: pointer;
                svg{
                    height: 15px;
                    width: 15px;
                    fill: $blue;
                    transform: rotate(45deg);
                    cursor: pointer;
                }
            }
            button:focus,button:active,button:hover{
                box-shadow: none;
                outline:none;
            }
        }
        .postCommentDropdown{
            height: 25px;
            margin-top: 13px;
            width: 254px;
            font-size: 12px;
            font-family: $font-workSans-regular;
            display: inline-block;
            padding-left: 6px;
        }
        .postBtn{
            @include appButton($blue,#fff);
            display: inline-block;
            width: 65px;
        }
    }
    .taskActivityStreamFooter{
        background: $activityStreamFooterBgColor;
        // height: 108px;
        position: fixed;
//        right: 0;
        bottom: 0;
        width: 355px;
        padding: 15px;
        .postCommentInput{
            width: 250px;
            float: left;
            margin-right: 10px;
            input{
                height: 35px;
                padding: 6px;
                font-family: $font-workSans-regular;
                font-size: 14px;
            }
            input:hover{
                z-index: 0;
            }
            input:active{
                border-right: none;
            }
            input:focus{
                border-color: rgba(0, 0, 0, 0.15);                
            }
            button{
                height: 35px;
                background: #fff;
                border: 1px solid rgba(0, 0, 0, 0.25);
                outline: none;
                border-left: none;
                padding-right: 6px;
                line-height: 38px;
                cursor: pointer;
                svg{
                    height: 15px;
                    width: 15px;
                    fill: $blue;
                    transform: rotate(45deg);
                    cursor: pointer;
                }
            }
            button:focus,button:active,button:hover{
                box-shadow: none;
                outline:none;
            }
        }
        .postCommentDropdown{
            height: 25px;
            margin-top: 13px;
            width: 254px;
            font-size: 12px;
            font-family: $font-workSans-regular;
            display: inline-block;
        }
        .postBtn{
            @include appButton($blue,#fff);
            display: inline-block;
            width: 65px;
            margin-top: 5px;
        }
    }
    .activityStreamBody{
        padding: 22px;
        position: relative;
        top: 48px;
        .feedBlock{
            border-bottom: 1px solid $grey2;
            float: left;
            padding-bottom: 15px;
            ul{
                li{
                    float:left;
                }
                .leftPart{
                    margin-right: 5px;
                }
                .rightPart{
                    margin-top: 5px;
                    .userName{
                        font-size: 12px;
                        font-family: $font-workSans-regular;
                        color: $grey4;
                    }
                    .timeStampRow{
                        font-family: $font-workSans-semiBold;
                        font-size: 14px;
                    }
                    .caseNameRow{
                        color: $blue;
                        font-family: $font-workSans-regular;
                        font-size: 14px;
                        line-height: 14px;
                    }
                }
            }
        }
    }
}