/* You can add global styles to this file, and also import other style files */
/* Color Pallet */
@font-face {
  font-family: 'workSans-medium';
  src: url("/assets/fonts/WorkSans-Medium.otf") format("opentype"); }

@font-face {
  font-family: 'workSans-bold';
  src: url("/assets/fonts/WorkSans-Bold.otf") format("opentype"); }

@font-face {
  font-family: 'workSans-semiBold';
  src: url("/assets/fonts/WorkSans-SemiBold.otf") format("opentype"); }

@font-face {
  font-family: 'workSans-regular';
  src: url("/assets/fonts/WorkSans-Regular.otf") format("opentype"); }

@font-face {
  font-family: 'futura-medium';
  src: url("/assets/fonts/Futura-Medium.otf") format("opentype"); }

@font-face {
  font-family: 'futura-book';
  src: url("/assets/fonts/Futura-Book-Regular.otf") format("opentype"); }

/* line 72, B:/Co/Corrus-Prototype/src/styles.scss */
.themeButton {
  background: #8170ff;
  border: none;
  outline: none;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  height: 25px;
  line-height: 25px;
  cursor: pointer; }

/* line 85, B:/Co/Corrus-Prototype/src/styles.scss */
* {
  padding: 0;
  margin: 0; }

/* line 90, B:/Co/Corrus-Prototype/src/styles.scss */
body {
  font-family: workSans-medium !important;
  overflow-y: hidden; }

/* line 94, B:/Co/Corrus-Prototype/src/styles.scss */
ul {
  list-style: none; }

/* line 97, B:/Co/Corrus-Prototype/src/styles.scss */
.userDefaultAvatar {
  display: inline-block;
  font-size: 13px;
  background: rgba(25, 204, 199, 0.3);
  color: #19ccc7;
  text-align: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 30px;
  cursor: pointer; }

/* line 105, B:/Co/Corrus-Prototype/src/styles.scss */
.nextNavigationControl {
  text-align: center; }
  /* line 107, B:/Co/Corrus-Prototype/src/styles.scss */
  .nextNavigationControl ul {
    cursor: pointer; }
    /* line 109, B:/Co/Corrus-Prototype/src/styles.scss */
    .nextNavigationControl ul li {
      display: inline-block; }
      /* line 111, B:/Co/Corrus-Prototype/src/styles.scss */
      .nextNavigationControl ul li span {
        text-align: center;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        line-height: 16px;
        text-align: center;
        border-radius: 50%;
        height: 16px;
        width: 16px;
        line-height: 16px;
        background: #558bff;
        color: #fff;
        display: inline-block;
        top: -2px;
        position: relative;
        vertical-align: middle; }
        /* line 124, B:/Co/Corrus-Prototype/src/styles.scss */
        .nextNavigationControl ul li span i {
          font-size: 16px; }
    /* line 129, B:/Co/Corrus-Prototype/src/styles.scss */
    .nextNavigationControl ul li:last-child {
      color: #558bff; }

/* line 134, B:/Co/Corrus-Prototype/src/styles.scss */
.helpIcon {
  height: 14px;
  width: 14px;
  position: relative; }

/* line 139, B:/Co/Corrus-Prototype/src/styles.scss */
#helpIcon {
  position: relative;
  height: 14px;
  width: 14px;
  bottom: 3px;
  cursor: pointer; }

/* line 147, B:/Co/Corrus-Prototype/src/styles.scss */
#helpIcon:hover .hoverHelpBox {
  display: block; }

/* line 151, B:/Co/Corrus-Prototype/src/styles.scss */
.hoverHelpBox {
  position: absolute;
  width: 250px;
  height: auto;
  background: #ffe3dd;
  color: #ff7155;
  font-size: 13px;
  font-family: "workSans-regular";
  bottom: 25px;
  left: -100px;
  padding: 10px;
  font-style: normal;
  border-radius: 4px;
  border: 1px solid #ff7155;
  box-shadow: 3px 3px 8px #e0e0e0;
  display: none; }
  /* line 167, B:/Co/Corrus-Prototype/src/styles.scss */
  .hoverHelpBox .carret {
    position: absolute;
    bottom: -18px;
    left: 91px;
    font-size: 30px;
    color: #ff7155; }

/* line 175, B:/Co/Corrus-Prototype/src/styles.scss */
.tagChip {
  position: absolute;
  top: 26px;
  display: inline-block;
  background: #23a9db;
  height: 25px;
  border-radius: 4px;
  line-height: 25px;
  color: #fff;
  font-size: 13px;
  padding: 0px 6px;
  left: 10px;
  font-family: "workSans-regular"; }
  /* line 188, B:/Co/Corrus-Prototype/src/styles.scss */
  .tagChip svg {
    fill: #fff;
    height: 10px;
    width: 10px;
    margin-left: 6px;
    text-align: left;
    cursor: pointer; }

/* line 198, B:/Co/Corrus-Prototype/src/styles.scss */
.tagChip2 {
  display: inline-block;
  background: #23a9db;
  height: 25px;
  border-radius: 4px;
  line-height: 25px;
  color: #fff;
  font-size: 13px;
  padding: 0px 6px;
  left: 10px;
  font-family: "workSans-regular";
  margin-top: 4px;
  margin-right: 8px; }
  /* line 211, B:/Co/Corrus-Prototype/src/styles.scss */
  .tagChip2 svg {
    fill: #fff;
    height: 10px;
    width: 10px;
    margin-left: 6px;
    text-align: left;
    cursor: pointer; }

/* line 220, B:/Co/Corrus-Prototype/src/styles.scss */
.caseMembersChips {
  display: inline-block;
  background: #8170ff;
  height: 25px;
  border-radius: 4px;
  line-height: 25px;
  color: #fff;
  font-size: 13px;
  padding: 0px 6px;
  left: 10px;
  font-family: "workSans-regular";
  margin-top: 4px;
  margin-right: 8px; }
  /* line 233, B:/Co/Corrus-Prototype/src/styles.scss */
  .caseMembersChips svg {
    fill: #fff;
    height: 10px;
    width: 10px;
    margin-left: 6px;
    text-align: left;
    cursor: pointer; }

/* line 242, B:/Co/Corrus-Prototype/src/styles.scss */
.inlineListUl {
  width: 100%;
  float: left; }
  /* line 245, B:/Co/Corrus-Prototype/src/styles.scss */
  .inlineListUl .inlineListLi {
    float: left; }

/* line 250, B:/Co/Corrus-Prototype/src/styles.scss */
.toggleSwitch {
  border: 1px solid #9fb1bd;
  width: 35px;
  height: 20px;
  float: left;
  border-radius: 15px;
  padding: 1px 2px;
  margin-right: 5px; }
  /* line 258, B:/Co/Corrus-Prototype/src/styles.scss */
  .toggleSwitch .switchBall {
    width: 15px;
    height: 15px;
    float: left;
    border-radius: 50%;
    background: #9fb1bd;
    vertical-align: middle; }

/* line 268, B:/Co/Corrus-Prototype/src/styles.scss */
.calendarIcon svg {
  width: 30px;
  height: 30px; }
  /* line 271, B:/Co/Corrus-Prototype/src/styles.scss */
  .calendarIcon svg path {
    fill: #bac8d6; }

/* line 276, B:/Co/Corrus-Prototype/src/styles.scss */
.associationsTag {
  font-size: 12px;
  display: inline-block;
  color: #ff7155;
  background: #ffe3dd;
  border-radius: 5px;
  height: 18px;
  line-height: 18px;
  padding: 0 10px;
  margin-right: 5px; }

/* line 287, B:/Co/Corrus-Prototype/src/styles.scss */
.saveBtn {
  background: #558bff;
  border: none;
  outline: none;
  text-align: center;
  font-family: "workSans-regular";
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  width: 64px; }

/* line 291, B:/Co/Corrus-Prototype/src/styles.scss */
.cancelBtn {
  background: #fff;
  border: none;
  outline: none;
  text-align: center;
  font-family: "workSans-regular";
  font-size: 14px;
  color: #558bff;
  border-radius: 4px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  width: 64px; }

/* Scrollbar */
/* line 297, B:/Co/Corrus-Prototype/src/styles.scss */
::-webkit-scrollbar {
  width: 8px; }

/* Track */
/* line 302, B:/Co/Corrus-Prototype/src/styles.scss */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px; }

/* Handle */
/* line 309, B:/Co/Corrus-Prototype/src/styles.scss */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #bac8d6;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

/* line 316, B:/Co/Corrus-Prototype/src/styles.scss */
::-webkit-scrollbar-thumb:window-inactive {
  background: transparent; }

/* line 319, B:/Co/Corrus-Prototype/src/styles.scss */
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 14px;
  color: #bac8d6; }

/* line 323, B:/Co/Corrus-Prototype/src/styles.scss */
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 14px;
  color: #bac8d6; }

/* line 327, B:/Co/Corrus-Prototype/src/styles.scss */
:-ms-input-placeholder {
  /* IE 10+ */
  font-size: 14px;
  color: #bac8d6; }

/* line 331, B:/Co/Corrus-Prototype/src/styles.scss */
:-moz-placeholder {
  /* Firefox 18- */
  font-size: 14px;
  color: #bac8d6; }

/* line 3, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
.activityStreamContainer .tabHeader {
  height: 48px;
  position: fixed;
  right: 0;
  width: 355px; }
  /* line 9, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
  .activityStreamContainer .tabHeader ul li {
    float: left;
    text-align: center;
    background: #ecf3fa;
    height: 48px;
    color: #9fb1bd;
    line-height: 48px;
    font-size: 14px;
    font-family: "workSans-regular";
    cursor: pointer; }
    /* line 19, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
    .activityStreamContainer .tabHeader ul li span {
      display: inline-block; }
    /* line 22, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
    .activityStreamContainer .tabHeader ul li svg {
      fill: #9fb1bd;
      height: 14px;
      width: 14px;
      vertical-align: sub; }
    /* line 28, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
    .activityStreamContainer .tabHeader ul li .expand {
      border: none;
      outline: none;
      text-align: center;
      cursor: pointer;
      background: #9fb1bd;
      height: 15px;
      width: 15px;
      line-height: 15px;
      position: absolute;
      top: 0;
      right: 0; }
      /* line 40, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
      .activityStreamContainer .tabHeader ul li .expand i {
        font-size: 11px;
        color: #fff; }
  /* line 46, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
  .activityStreamContainer .tabHeader ul li.active {
    color: #558bff;
    background: #fff; }
  /* line 50, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
  .activityStreamContainer .tabHeader ul li:first-child {
    width: 165px; }
  /* line 53, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
  .activityStreamContainer .tabHeader ul li:last-child {
    width: 190px; }

/* line 58, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
.activityStreamContainer .activityStreamFooter {
  background: #d9e5ff;
  height: 108px;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 355px;
  padding: 15px; }
  /* line 67, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
  .activityStreamContainer .activityStreamFooter .postCommentInput input {
    height: 35px;
    padding: 6px;
    font-family: "workSans-regular";
    font-size: 14px; }
  /* line 73, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
  .activityStreamContainer .activityStreamFooter .postCommentInput input:hover {
    z-index: 0; }
  /* line 76, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
  .activityStreamContainer .activityStreamFooter .postCommentInput input:active {
    border-right: none; }
  /* line 79, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
  .activityStreamContainer .activityStreamFooter .postCommentInput input:focus {
    border-color: rgba(0, 0, 0, 0.15); }
  /* line 82, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
  .activityStreamContainer .activityStreamFooter .postCommentInput button {
    height: 35px;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.25);
    outline: none;
    border-left: none;
    padding-right: 6px;
    line-height: 38px;
    cursor: pointer; }
    /* line 91, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
    .activityStreamContainer .activityStreamFooter .postCommentInput button svg {
      height: 15px;
      width: 15px;
      fill: #558bff;
      transform: rotate(45deg);
      cursor: pointer; }
  /* line 99, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
  .activityStreamContainer .activityStreamFooter .postCommentInput button:focus, .activityStreamContainer .activityStreamFooter .postCommentInput button:active, .activityStreamContainer .activityStreamFooter .postCommentInput button:hover {
    box-shadow: none;
    outline: none; }
  /* line 104, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
  .activityStreamContainer .activityStreamFooter .postCommentDropdown {
    height: 25px;
    margin-top: 13px;
    width: 254px;
    font-size: 12px;
    font-family: "workSans-regular";
    display: inline-block; }
  /* line 112, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
  .activityStreamContainer .activityStreamFooter .postBtn {
    background: #558bff;
    border: none;
    outline: none;
    text-align: center;
    font-family: "workSans-regular";
    font-size: 14px;
    color: #fff;
    border-radius: 4px;
    height: 25px;
    line-height: 25px;
    cursor: pointer;
    display: inline-block;
    width: 65px; }

/* line 118, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
.activityStreamContainer .activityStreamBody {
  padding: 22px;
  position: relative;
  top: 48px; }
  /* line 122, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
  .activityStreamContainer .activityStreamBody .feedBlock {
    border-bottom: 1px solid #bac8d6;
    float: left;
    padding-bottom: 15px; }
    /* line 127, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
    .activityStreamContainer .activityStreamBody .feedBlock ul li {
      float: left; }
    /* line 130, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
    .activityStreamContainer .activityStreamBody .feedBlock ul .leftPart {
      margin-right: 5px; }
    /* line 133, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
    .activityStreamContainer .activityStreamBody .feedBlock ul .rightPart {
      margin-top: 5px; }
      /* line 135, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
      .activityStreamContainer .activityStreamBody .feedBlock ul .rightPart .userName {
        font-size: 12px;
        font-family: "workSans-medium";
        color: #9fb1bd; }
      /* line 140, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
      .activityStreamContainer .activityStreamBody .feedBlock ul .rightPart .timeStampRow {
        font-family: "workSans-semiBold";
        font-size: 14px; }
      /* line 144, B:/Co/Corrus-Prototype/src/app/activity-stream/activity-stream.component.scss */
      .activityStreamContainer .activityStreamBody .feedBlock ul .rightPart .caseNameRow {
        color: #558bff;
        font-family: "workSans-regular";
        font-size: 14px;
        line-height: 14px; }

/*# sourceMappingURL=activity-stream.component.css.map */