<section class="activityStreamContainer">
  <div class="row">
    <div class = "col-sm-12 col-md-12 col-lg-12 taskStreamHeader" *ngIf = "currentURL == '/casefile/task'">
      Contractor Outreach Stream
    </div>
    <div class = "col-sm-12 col-md-12 col-lg-12 tabHeader" *ngIf = "currentURL == '/casefile'">
      <ul>
        <li class = "active"><span>Activity Stream</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>single_carrot_icon@1x</title><g id="art"><path d="M15,24a1.99388,1.99388,0,0,1-1.41431-.58578l-12-12A2.00007,2.00007,0,0,1,4.41431,8.58578L15,19.17157,25.58569,8.58578a2.00007,2.00007,0,0,1,2.82861,2.82843l-12,12A1.99388,1.99388,0,0,1,15,24Z"/></g></svg>
        </li>
        <li><span>Activity Manager</span>
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>single_carrot_icon@1x</title><g id="art"><path d="M15,24a1.99388,1.99388,0,0,1-1.41431-.58578l-12-12A2.00007,2.00007,0,0,1,4.41431,8.58578L15,19.17157,25.58569,8.58578a2.00007,2.00007,0,0,1,2.82861,2.82843l-12,12A1.99388,1.99388,0,0,1,15,24Z"/></g></svg>
          <button class = "expand"><i class="material-icons">call_made</i></button>
        </li>
      </ul>
    </div>
    <div class = "col-sm-12 col-md-12 col-lg-12 activityStreamBody">
      <div class = "col-sm-12 col-md-12 col-lg-12 feedBlock">
        <ul>
          <li class = "leftPart">
            <span class = "userDefaultAvatar">Hk</span>
          </li>
          <li class = "rightPart">
            <div class = "col-sm-12 col-md-12 col-lg-12 userName"> Himanshu Kumar</div>
            <div class = "col-sm-12 col-md-12 col-lg-12 timeStampRow"> Created a Case on August 2, 2017</div>
            <div class = "col-sm-12 col-md-12 col-lg-12 caseNameRow"> Design Proposal for Hector Museum</div>
          </li>
        </ul>
      </div>
    
    </div>
    <div class = "col-sm-12 col-md-12 col-lg-12 activityStreamFooter">
      <div class="input-group postCommentInput">
        <input type="text" class="form-control" placeholder="Add a comment">
        <span class="input-group-btn">
          <button class="btn btn-secondary" type="button">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>x_in_circle_icon@1x</title><g id="art"><path d="M24.8995,5.1005a13.99984,13.99984,0,1,0,0,19.79851A13.99826,13.99826,0,0,0,24.8995,5.1005ZM22.43659,18.3052a2.75008,2.75008,0,0,1-3.88919,3.88919l-3.4263-3.4263-3.42679,3.4263A2.7499,2.7499,0,1,1,7.8056,18.3052l3.4263-3.42679-3.4263-3.4263a2.74973,2.74973,0,1,1,3.88871-3.88871l3.42679,3.4263,3.42679-3.4263a2.74973,2.74973,0,0,1,3.88871,3.88871l-3.42679,3.4263Z"/></g></svg>
          </button>
        </span>
      </div>
      <select class="form-control postCommentDropdown">
        <option>Design Proposal for Hector Museum</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>
      <button class = "postBtn">Post</button>
    </div>
  </div>
  
</section>