<div class = "row">
    <div class = "col-sm-12 col-md-12 col-lg-12 dashboardContainerHeading">
      Create a case to achieve a goal with your team!
    </div>
  </div>
  <div class = "row">
    <div class = "col-sm-12 col-md-12 col-lg-12 cardContainer">
      <div class = "cardBox">
       <span class = "placeholder">Example Card
         <!-- <a routerLink = "/dashboard">Dashboard</a>
         <a routerLink = "/createcase">CAse Creation</a> -->
      </span> 
      <div class = "cardOuter"></div>
      </div>
    </div>
  </div>
  <div class = "row">
    <div class = "col-sm-12 col-md-12 col-lg-12 dashboardContainerFooter">
      <p>
        Use a case to assemble your team, assign tasks, upload work assets, centralize communications and track due dates.
      </p>
      
    </div>
  </div>
  <div class = "row">
      <div class = "col-sm-12 col-md-12 col-lg-12 dashboardFlowButtonRow">
        <ul (click) = "gotoCaseCreation()">
          <li>
            <span><i>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><title>NEW</title><g id="art"><path d="M24.83333,5.035a13.99988,13.99988,0,1,0,0,19.79834A13.99872,13.99872,0,0,0,24.83333,5.035ZM20.19857,16.43685l-6.0835,6.0835A2.12495,2.12495,0,0,1,11.11019,19.515l4.58057-4.58105-4.58057-4.58057A2.12494,2.12494,0,1,1,14.11507,7.348l6.0835,6.0835a2.12481,2.12481,0,0,1,0,3.00537Z"/></g></svg>
            </i></span>
          </li>
          <li>
            Let's Get Started
          </li>
        </ul>
      </div>
    </div>