<section class = "casefileContainer">
  <div class = "row casefileHeader">
    <div class = "col-sm-12 col-md-12 col-lg-12 casefileHeader1">
      <h5> Design Proposal for Hector Museum</h5>
      <button> Case Actions </button>
    </div>
    <div class = "col-sm-12 col-md-12 col-lg-12 casefileHeader2">
      <ul>
        <li class = "active"> Overview</li>
        <li> Tasks</li>
        <li> Case Details</li>
      </ul>
    </div>
  </div>
  <div class="row tabsContainer">
    <div class = "col-sm-12 col-md-12 col-lg-12 overviewTabContainer">
      <div class="col-sm-12 col-md-12 col-lg-12 topBannar">
        <div>
            <p>This is your Case Dashboard. Central command for all case activities and information.
                Now you can create a task and assign it to a team member!</p>
            <button class = "themeButton"> Create Task</button>
        </div>

      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 middleRow">
        <div class = "col-xs-12 col-sm-6 col-md-6 col-lg-3 box box1">
          <ul class = "inlineListUl">
            <li class = "inlineListLi">
              <span class = "circularElement progressCircle"></span>
            </li>
            <li class = "inlineListLi">
              <ul>
                <li><label>Progress</label></li>
                <li>0% Complete</li>
              </ul>
            </li>            
          </ul>
        </div>
        <div class = "col-xs-12 col-sm-6 col-md-6 col-lg-3 box box2">
          <ul class = "inlineListUl">
            <li class = "inlineListLi">
              <span class = "circularElement dueDateCircle">31</span>
            </li>
            <li class = "inlineListLi">
              
              <ul>
                  <li><label>Due Date</label></li>
                  <li>October 31,2017</li>
                </ul>                
            </li>            
          </ul>
        </div>
        <div class = "col-xs-12 col-sm-6 col-md-6 col-lg-3 box box3">
          <ul class = "inlineListUl">
            <li class = "inlineListLi">
              <span class = "circularElement caseManagerCircle">
                <img src = "/assets/img/captain.png" draggable="false">
              </span>
            </li>
            <li class = "inlineListLi">
  
              <ul>
                  <li><label>Case Lead</label></li>
                  <li>Himanshu Kumar</li>
                </ul>      
            </li>            
          </ul>
        </div>
        <div class = "col-xs-12 col-sm-6 col-md-6 col-lg-3 box box4">
          <ul class = "inlineListUl">
            <li class = "inlineListLi">
              <span class = "circularElement caseGoalCircle"></span>
            </li>
            <li class = "inlineListLi">
              <ul>
                  <li><label>Case Goal</label></li>
                  <li title = "Create architectural design proposal for Hector Muse" >Create architectural design proposal for Hector Muse</li>
                </ul>     
            </li>            
          </ul>
        </div>
      </div>
      <div class="col-sm-12 col-md-12 col-lg-12 bottomRow">
        <div class = "reportsContainer">
          <div class="col-sm-12 col-md-12 col-lg-12 heading">
            <label>Case Tasks</label>
          </div>
          <div class = "col-sm-7 col-md-7 col-lg-7 taskReport">
              ok
          </div>
           <div class = "col-sm-5 col-md-5 col-lg-5 taskReportDetails">
              <ul>
                 <li> 00 Task Assigned</li>
              </ul>
          </div>
        </div>
        <div class = "reportsContainer">
            <div class="col-sm-12 col-md-12 col-lg-12 heading">
                <label>Case Events</label>
              </div>
        </div>
      </div>
    </div>
  </div>
</section>
    
<aside class = "appSidebar">
      Sidebar
</aside>