/* You can add global styles to this file, and also import other style files */
/* Color Pallet */
@font-face {
  font-family: 'workSans-medium';
  src: url("/assets/fonts/WorkSans-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'workSans-bold';
  src: url("/assets/fonts/WorkSans-Bold.otf") format("opentype");
}

@font-face {
  font-family: 'workSans-semiBold';
  src: url("/assets/fonts/WorkSans-SemiBold.otf") format("opentype");
}

@font-face {
  font-family: 'workSans-regular';
  src: url("/assets/fonts/WorkSans-Regular.otf") format("opentype");
}

@font-face {
  font-family: 'futura-medium';
  src: url("/assets/fonts/Futura-Medium.otf") format("opentype");
}

@font-face {
  font-family: 'futura-book';
  src: url("/assets/fonts/Futura-Book-Regular.otf") format("opentype");
}

.themeButton {
  background: #8170ff;
  border: none;
  outline: none;
  text-align: center;
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: workSans-medium !important;
  overflow-y: hidden;
}

ul {
  list-style: none;
}

.userDefaultAvatar {
  display: inline-block;
  font-size: 13px;
  background: rgba(25, 204, 199, 0.3);
  color: #19ccc7;
  text-align: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  line-height: 30px;
  cursor: pointer;
}

.nextNavigationControl {
  text-align: center;
}

.nextNavigationControl ul {
  cursor: pointer;
}

.nextNavigationControl ul li {
  display: inline-block;
}

.nextNavigationControl ul li span {
  text-align: center;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
  height: 16px;
  width: 16px;
  line-height: 16px;
  background: #558bff;
  color: #fff;
  display: inline-block;
  top: -2px;
  position: relative;
  vertical-align: middle;
}

.nextNavigationControl ul li span i {
  font-size: 16px;
}

.nextNavigationControl ul li:last-child {
  color: #558bff;
}

.helpIcon {
  height: 14px;
  width: 14px;
  position: relative;
}

#helpIcon {
  position: relative;
  height: 14px;
  width: 14px;
  bottom: 3px;
  cursor: pointer;
}

#helpIcon:hover .hoverHelpBox {
  display: block;
}

.hoverHelpBox {
  position: absolute;
  width: 250px;
  height: auto;
  background: #ffe3dd;
  color: #ff7155;
  font-size: 13px;
  font-family: "workSans-regular";
  bottom: 25px;
  left: -100px;
  padding: 10px;
  font-style: normal;
  border-radius: 4px;
  border: 1px solid #ff7155;
  box-shadow: 3px 3px 8px #e0e0e0;
  display: none;
}

.hoverHelpBox .carret {
  position: absolute;
  bottom: -18px;
  left: 91px;
  font-size: 30px;
  color: #ff7155;
}

.tagChip {
  position: absolute;
  top: 26px;
  display: inline-block;
  background: #23a9db;
  height: 25px;
  border-radius: 4px;
  line-height: 25px;
  color: #fff;
  font-size: 13px;
  padding: 0px 6px;
  left: 10px;
  font-family: "workSans-regular";
}

.tagChip svg {
  fill: #fff;
  height: 10px;
  width: 10px;
  margin-left: 6px;
  text-align: left;
  cursor: pointer;
}

.tagChip2 {
  display: inline-block;
  background: #23a9db;
  height: 25px;
  border-radius: 4px;
  line-height: 25px;
  color: #fff;
  font-size: 13px;
  padding: 0px 6px;
  left: 10px;
  font-family: "workSans-regular";
  margin-top: 4px;
  margin-right: 8px;
}

.tagChip2 svg {
  fill: #fff;
  height: 10px;
  width: 10px;
  margin-left: 6px;
  text-align: left;
  cursor: pointer;
}

.inlineListUl {
  width: 100%;
  float: left;
}

.inlineListUl .inlineListLi {
  float: left;
}

.toggleSwitch {
  border: 1px solid #9fb1bd;
  width: 35px;
  height: 20px;
  float: left;
  border-radius: 15px;
  padding: 1px 2px;
  margin-right: 5px;
}

.toggleSwitch .switchBall {
  width: 15px;
  height: 15px;
  float: left;
  border-radius: 50%;
  background: #9fb1bd;
  vertical-align: middle;
}

.calendarIcon svg {
  width: 30px;
  height: 30px;
}

.calendarIcon svg path {
  fill: #bac8d6;
}

.associationsTag {
  font-size: 12px;
  display: inline-block;
  color: #ff7155;
  background: #ffe3dd;
  border-radius: 5px;
  height: 18px;
  line-height: 18px;
  padding: 0 10px;
  margin-right: 5px;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #bac8d6;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: transparent;
}

.casefileContainer {
  float: left;
  width: calc(100% - 356px);
}

.casefileContainer .casefileHeader {
  padding: 20px 28px;
  padding-bottom: 0;
}

.casefileContainer .casefileHeader .casefileHeader1 {
  margin-bottom: 12px;
}

.casefileContainer .casefileHeader .casefileHeader1 h5 {
  float: left;
  font-family: "workSans-regular";
  font-size: 22px;
}

.casefileContainer .casefileHeader .casefileHeader1 button {
  background: #558bff;
  border: none;
  outline: none;
  text-align: center;
  font-family: "workSans-regular";
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  width: 132px;
  float: right;
}

.casefileContainer .casefileHeader .casefileHeader2 {
  line-height: 14px;
  border-bottom: 1px solid #9fb1bd;
  padding-bottom: 10px;
}

.casefileContainer .casefileHeader .casefileHeader2 ul li {
  display: inline-block;
  margin-right: 68px;
  color: #bac8d6;
  font-size: 14px;
  font-family: "workSans-medium";
  cursor: pointer;
}

.casefileContainer .casefileHeader .casefileHeader2 ul li.active {
  font-family: "workSans-semiBold";
  color: #558bff;
}

.casefileContainer .overviewTabContainer {
  margin-top: 20px;
  padding: 0 28px;
}

.casefileContainer .overviewTabContainer .topBannar {
  height: 230px;
  border-bottom: 1px solid #9fb1bd;
  display: inline-block;
  text-align: center;
}

.casefileContainer .overviewTabContainer .topBannar div {
  width: 60%;
  margin-top: 47px;
  display: inline-block;
}

.casefileContainer .overviewTabContainer .topBannar div p {
  color: #8170ff;
  font-family: "workSans-regular";
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 14px;
  opacity: 0.6;
}

.casefileContainer .overviewTabContainer .topBannar div button {
  width: 112px;
}

.casefileContainer .overviewTabContainer .middleRow {
  margin-top: 50px;
}

.casefileContainer .overviewTabContainer .middleRow .box {
  float: left;
  font-size: 14px;
  font-family: "workSans-medium";
}

.casefileContainer .overviewTabContainer .middleRow .box .circularElement {
  text-align: center;
  border-radius: 50%;
  height: 55px;
  width: 55px;
  line-height: 55px;
  display: block;
  margin-right: 8px;
}

.casefileContainer .overviewTabContainer .middleRow .box1 label {
  color: #19ccc7;
}

.casefileContainer .overviewTabContainer .middleRow .box1 .circularElement {
  border: 1px solid #19ccc7;
  background: rgba(25, 204, 199, 0.3);
}

.casefileContainer .overviewTabContainer .middleRow .box2 label {
  color: #ff7155;
}

.casefileContainer .overviewTabContainer .middleRow .box2 .circularElement {
  border: 1px solid #ff7155;
  color: #ff7155;
  background: rgba(255, 113, 85, 0.3);
  font-size: 26px;
  font-weight: 800;
}

.casefileContainer .overviewTabContainer .middleRow .box3 label {
  color: #ffc756;
}

.casefileContainer .overviewTabContainer .middleRow .box3 .circularElement {
  border: 1px solid #ffc756;
  background: rgba(255, 199, 86, 0.3);
}

.casefileContainer .overviewTabContainer .middleRow .box3 .circularElement img {
  width: 85%;
}

.casefileContainer .overviewTabContainer .middleRow .box4 label {
  color: #29c4ff;
}

.casefileContainer .overviewTabContainer .middleRow .box4 .circularElement {
  border: 1px solid #29c4ff;
  background: rgba(41, 196, 255, 0.3);
}

.casefileContainer .overviewTabContainer .middleRow .box4 .inlineListLi:last-child {
  width: 74%;
}

.casefileContainer .overviewTabContainer .middleRow .box4 .inlineListLi:last-child li:last-child {
  max-height: 40px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box !important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.casefileContainer .overviewTabContainer .bottomRow {
  margin-top: 40px;
  margin-bottom: 50px;
  float: left;
}

.casefileContainer .overviewTabContainer .bottomRow .reportsContainer {
  float: left;
  height: 284px;
  width: 47.45%;
  border: 1px solid #dce7f2;
  color: #dce7f2;
  border-radius: 6px;
  box-shadow: 3px 3px 5px 1px;
  padding: 10px;
}

.casefileContainer .overviewTabContainer .bottomRow .reportsContainer .heading {
  margin-bottom: 20px;
}

.casefileContainer .overviewTabContainer .bottomRow .reportsContainer .heading label {
  font-size: 14px;
  color: #9fb1bd;
}

.casefileContainer .overviewTabContainer .bottomRow .reportsContainer .taskReport {
  float: left;
  text-align: center;
}

.casefileContainer .overviewTabContainer .bottomRow .reportsContainer .taskReport img {
  width: 66%;
}

.casefileContainer .overviewTabContainer .bottomRow .reportsContainer .taskReportDetails {
  float: left;
}

.casefileContainer .overviewTabContainer .bottomRow .reportsContainer .taskReportDetails li {
  font-family: "workSans-regular";
  color: #000000;
  font-size: 14px;
  line-height: 24px;
}

.casefileContainer .overviewTabContainer .bottomRow .reportsContainer .taskReportDetails li span {
  color: #558bff;
  margin-right: 4px;
}

.casefileContainer .overviewTabContainer .bottomRow .reportsContainer:first-child {
  margin-right: 40px;
}

.casefileContainer .tasksTabContainer {
  margin-top: -1px;
}

.casefileContainer .tasksTabContainer .taskComposerContainer {
  background: #ecf3fa;
  min-height: 400px;
}

.casefileContainer .tasksTabContainer .taskComposerContainer .composerControlHeader {
  font-size: 14px;
  padding: 30px 28px 30px 18px;
  font-family: "workSans-medium";
}

.casefileContainer .tasksTabContainer .taskComposerContainer .composerControlHeader p {
  display: inline-block;
  width: 85%;
  color: #6b7a84;
}

.casefileContainer .tasksTabContainer .taskComposerContainer .composerControlHeader span {
  color: #9fb1bd;
}

.casefileContainer .tasksTabContainer .taskComposerContainer .composerControlHeader .composerToggleBtn {
  float: right;
  cursor: pointer;
}

.casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer {
  font-family: "workSans-medium";
  font-size: 14px;
  padding-left: 18px;
  padding-right: 28px;
  margin-top: -7px;
}

.casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form .form-group {
  padding: 0;
}

.casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form .form-group .col3layoutInput {
  width: 97%;
}

.casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form .form-group.col-itm-2 {
  left: 5px;
}

.casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form .form-group.col-itm-3 {
  left: 10px;
}

.casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form label {
  font-family: "workSans-regular";
  font-size: 14px;
  color: #9fb1bd;
}

.casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form input, .casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form select {
  padding: 6px;
  font-size: 14px;
  height: 35px;
  color: #6b7a84;
}

.casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form textarea {
  height: 75px;
  padding: 6px;
  resize: none;
  font-size: 14px;
  color: #6b7a84;
}

.casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form .form-row {
  margin-bottom: 18px;
}

.casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form .form-row .input-group-addon {
  background: none;
  border: none;
  position: absolute;
  right: 12px;
  top: 24px;
}

.casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form .form-row .input-group-addon svg {
  width: 30px;
  height: 30px;
}

.casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form .form-row .input-group-addon svg path {
  fill: #bac8d6;
}

.casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form .uploadReferenceBtn {
  right: 18px;
  bottom: 8px;
  position: absolute;
  width: 64px;
  background: #d9e5ff;
  border: none;
  outline: none;
  text-align: center;
  font-family: "workSans-regular";
  font-size: 14px;
  color: #558bff;
  border-radius: 4px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  font-size: 12px;
}

.casefileContainer .tasksTabContainer .taskComposerContainer .composerFormContainer form .tagChip {
  margin-top: 2px;
  margin-left: -2px;
}

.casefileContainer .tasksTabContainer .taskComposerContainer .addTaskRow {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 24px;
}

.casefileContainer .tasksTabContainer .taskComposerContainer .addTaskRow button {
  background: #558bff;
  border: none;
  outline: none;
  text-align: center;
  font-family: "workSans-regular";
  font-size: 14px;
  color: #fff;
  border-radius: 4px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  width: 110px;
}

.casefileContainer .tasksTabContainer .tasksTableContainer {
  margin-bottom: 50px;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .noTasksState {
  text-align: center;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .noTasksState .illustration {
  width: 130px;
  height: 130px;
  background: #ecf3fa;
  display: inline-block;
  padding: 5px;
  font-size: 14px;
  color: #9fb1bd;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .noTasksState p {
  text-align: center;
  color: #8170ff;
  margin-top: 30px;
  font-size: 16px;
  font-family: "futura-medium";
  letter-spacing: 1px;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer {
  margin-top: 35px;
  margin-bottom: 55px;
  float: left;
  padding: 0 10px;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListHeader {
  font-family: "workSans-medium";
  font-size: 14px;
  color: #6b7a84;
  float: left;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListHeader ul li {
  float: left;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListHeader ul li label {
  font-size: 13px;
  color: #9fb1bd;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListHeader ul li:nth-child(1) {
  width: 23.17%;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListHeader ul li:nth-child(2) {
  width: 21.24%;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListHeader ul li:nth-child(3) {
  width: 20.28%;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListHeader ul li:nth-child(4) {
  width: 21.72%;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListHeader ul li:nth-child(5) {
  width: 11.59%;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableHeader {
  font-family: "workSans-medium";
  font-size: 13px;
  color: #bac8d6;
  border-top: 1px solid #dce7f2;
  border-bottom: 1px solid #dce7f2;
  float: left;
  margin-top: 25px;
  padding: 10px 0;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableHeader ul li {
  float: left;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableHeader ul li:nth-child(1) {
  width: 23.63%;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableHeader ul li:nth-child(2) {
  width: 12.8%;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableHeader ul li:nth-child(3) {
  width: 11.82%;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableHeader ul li:nth-child(4) {
  width: 17.2%;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableHeader ul li:nth-child(5) {
  width: 27.07%;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableHeader ul li:nth-child(6) {
  width: 7.4%;
  text-align: right;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody {
  float: left;
  height: 150px;
  max-height: 150px;
  overflow-y: auto;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow {
  float: left;
  width: 100%;
  font-family: "futura-medium";
  font-size: 13px;
  color: #6b7a84;
  border-bottom: 1px solid #dce7f2;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li {
  float: left;
  line-height: 45px;
  vertical-align: middle;
  text-align: left;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li .highPriority {
  font-size: 18px;
  vertical-align: sub;
  margin-right: 3px;
  margin-left: 3px;
  color: #f92a58;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li .normalPriority {
  font-size: 18px;
  vertical-align: sub;
  margin-right: 3px;
  margin-left: 3px;
  color: #19ccc7;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li.taskNameColumn {
  width: 23.63%;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li.assignedToColumn {
  width: 12.8%;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li.assignedToColumn button {
  width: 64px;
  background: #d9e5ff;
  border: none;
  outline: none;
  text-align: center;
  font-family: "workSans-regular";
  font-size: 14px;
  color: #558bff;
  border-radius: 4px;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
  font-size: 12px;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li.statusColumn {
  width: 11.82%;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li.dueDateColumn {
  width: 17.2%;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li.dueDateColumn span {
  float: left;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li.dueDateColumn span svg {
  top: 6px;
  position: relative;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li.associationsColumn {
  width: 27.07%;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li.actionsColumn {
  width: 7.4%;
  text-align: center;
}

.casefileContainer .tasksTabContainer .tasksTableContainer .tasksListContainer .tasksListTableBody .taskListRow ul li.actionsColumn i {
  color: #558bff;
  vertical-align: middle;
  left: 12px;
  position: relative;
}

.appSidebar {
  width: 356px;
  height: 100%;
  border-left: 1px solid #9fb1bd;
  position: fixed;
  right: 0;
}
 

 /*# sourceMappingURL= case-file.component.css.map */